<VirtualHost *:443>
    ServerAdmin hostmaster@rewse.jp
    ServerName unifi.rewse.jp

    ProxyPreserveHost on
    ProxyRequests off
    SSLProxyEngine on
    ProxyPass / https://{{ unifi_host }}:8443/
    ProxyPassReverse / https://{{ unifi_host }}:8443/

    RewriteEngine on
    RewriteRule /(.*)  https://{{ unifi_host }}:8443/$1 [P,L]

    SSLCertificateFile /etc/letsencrypt/live/rewse.jp/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/rewse.jp/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf
</VirtualHost>
