#!/bin/bash

trap 'my_exit 1' 1 2 3 15

readonly huebridge_ip=[% huebridge_ip %]
readonly user_id=[% vault_huebridge_userid %]
readonly sensor_id=$1
readonly res_file=$(mktemp --tmpdir huebridge.XXXXXXXXXX)

if [ ! "$sensor_id" ]; then
    echo "[USAGE] huebridge.sh sensor_id"
    exit 1
fi

# {{{ my_exit()

my_exit() {
    rm -f $res_file
    echo $1
    exit $1
}

# }}}
# {{{ sendfrom_sensor()

sendfrom_sensor() {
    curl "http://$huebridge_ip/api/$user_id/sensors" \
    -o $res_file > /dev/null 2>&1

    presence=$(cat $res_file | jq -r .[\"$sensor_id\"].state.presence)

    if "$presence" ; then
        presence=1
    else
        presence=0
    fi

    lastupdated=$(cat $res_file | jq -r .[\"$sensor_id\"].state.lastupdated)

    zabbix_sender \
        -c /etc/zabbix/zabbix_agentd.conf \
        -k huebridge.sensor.presence[$sensor_id] \
        -o $presence \
    > /dev/null 2>&1

    zabbix_sender \
        -c /etc/zabbix/zabbix_agentd.conf \
        -k huebridge.sensor.lastupdated[$sensor_id] \
        -o $lastupdated \
    > /dev/null 2>&1

    zabbix_sender \
        -c /etc/zabbix/zabbix_agentd.conf \
        -k huebridge.sensor.pbattery[$sensor_id] \
        -o $(cat $res_file | jq -r .[\"$sensor_id\"].config.battery) \
    > /dev/null 2>&1

    zabbix_sender \
        -c /etc/zabbix/zabbix_agentd.conf \
        -k huebridge.sensor.lightlevel[$sensor_id] \
        -o $(cat $res_file | jq -r .[\"$(expr $sensor_id + 1)\"].state.lightlevel) \
    > /dev/null 2>&1
}

# }}}
# {{{ Main

sendfrom_sensor

my_exit 0

# }}}
