---
- name: Install packages by homebrew
  community.general.homebrew:
    name: 
      - ansible
      - awscli
      - gh
      - fontforge
      - fping
      - jq
      - kiro
      - mas
      - node
      - php
      - pv
      - pwgen
      - python3
      - switchaudio-osx
      - telnet
      - source-highlight
      - svn
      - tmux
      - tree
      - watch
      - yamllint
      - zsh-vi-mode
    update_homebrew: true
  tags: [darwin, package, homebrew]

- name: Install packages by homebrew_cask
  community.general.homebrew_cask:
    name: 
      - 1password
      - adobe-creative-cloud
      - alfred
      - amazon-chime
      - appcleaner
      - arc
      - atok
      - calibre
      - cinebench
      - corretto
      - cyberduck
      - firefox
      - fantastical
      - font-hackgen
      - font-new-york
      - font-sf-compact
      - font-sf-mono
      - font-sf-mono-for-powerline
      - font-sf-pro
      - font-source-sans-3
      - font-source-serif-4
      - geekbench
      - ghostty
      - gnucash
      - google-chrome
      - grandperspective
      - handbrake
      - hhkb
      - istat-menus
      - jordanbaird-ice
      - karabiner-elements
      - keka
      - kekaexternalhelper
      - keyboard-maestro
      - keycastr
      - lm-studio
      - messenger
      - obsidian
      - popclip
      - prowritingaid
      - rectangle-pro
      - slack
      - steermouse
      - sf-symbols
      - visual-studio-code
      - vlc
      - wireshark
      - zoom
    update_homebrew: true
  tags: [darwin, package, cask]

- name: Install packages by mas
  ansible.builtin.command: mas install {{ item }}
  loop:
    - 1512372293  # 3DMark
    - 302584613   # Amazon Kindle
    - 545519333   # Amazon Prime Video
    - 1168254295  # AmorphousDiskMark
    - 425264550   # Blackmagic Disk Speed Test
    - 1044629456  # GFXBench Metal
    - 1099568401  # Home Assistant
    - 539883307   # LINE
    - 981430153   # Online
    - 1436994560  # Portal
    - 1449412482  # Reeder 4
    - 1187772509  # stts
    - 899247664   # TestFlight
    - 1385561119  # Ubiquiti WiFiman
    - 494803304   # WiFi Explorer
    - 1295203466  # Windows App
    - 1451685025  # WireGuard
    - 497799835   # Xcode
    - 1380563956  # 辞書 by 物書堂
  ignore_errors: true
  tags: [darwin, package, mas]

- name: Create $HOME/.venv
  ansible.builtin.file:
    path: $HOME/.venv
    state: directory
  tags: [darwin, package, pip]

- name: Create venv
  ansible.builtin.command: python3 -m venv $HOME/.venv
  tags: [darwin, package, pip]

- name: Install packages by pip
  ansible.builtin.pip:
    name:
      - pip-review
    state: latest
    virtualenv: $HOME/.venv
  tags: [darwin, package, pip]

- name: Create /Library/Fonts/Adobe
  ansible.builtin.file:
    path: /Library/Fonts/Adobe
    state: directory
  tags: [darwin, package, font]

- name: Download source-han-mono
  ansible.builtin.get_url:
    url: https://github.com/adobe-fonts/source-han-mono/releases/download/{{ source_han_mono_version }}/SourceHanMono.ttc
    dest: /Library/Fonts/Adobe
  tags: [darwin, package, font]

- name: Download source-han-sans
  ansible.builtin.unarchive:
    src: https://github.com/adobe-fonts/source-han-sans/releases/download/{{ source_han_sans_version }}/SourceHanSans.ttc.zip
    dest: /Library/Fonts/Adobe
    remote_src: true
  tags: [darwin, package, font]

- name: Download source-han-serif
  ansible.builtin.unarchive:
    src: https://github.com/adobe-fonts/source-han-serif/releases/download/{{ source_han_serif_version }}/01_SourceHanSerif.ttc.zip
    dest: /Library/Fonts/Adobe
    remote_src: true
  tags: [darwin, package, font]

# - name: Install rest of the apps
#   install_yourself:
#     - https://www.blackmagicdesign.com/jp/products/davinciresolve/  # DaVinci Resolve
#     - https://www.insta360.com/download/insta360-link2c             # Insta360 Link Controller
#     - https://www.ireasoning.com/mibbrowser.shtml                   # MIB Browser
#     - https://prowritingaid.com/everywhere-download-mac             # ProWritingAid Everywhere
#     - https://www.xencelabs.com/support/download-drivers/           # Xencelabs Driver
