[defaults]
host_key_checking = False
interpreter_python=/usr/bin/python3
remote_tmp = /tmp/.ansible-${USER}/tmp
inventory = hosts
vault_password_file = $HOME/.ansible/vault_password

[ssh_connection]
pipelining = True
