---
- name: Install additional packages
  ansible.builtin.apt:
    name:
      - fonts-ricty-diminished
      - tigervnc-standalone-server
      - ubuntu-desktop
  tags: [desktop, package]

- name: "git : Clone one-gnome-terminal.git"
  ansible.builtin.git:
    repo: https://github.com/denysdovhan/one-gnome-terminal.git
    dest: /srv/git/one-gnome-terminal
  tags: [desktop, terminal]

- name: Execute one-dark.sh
  become_user: "{{ admin }}"
  ansible.builtin.command: bash /srv/git/one-gnome-terminal/one-dark.sh
  tags: [desktop, terminal]

- name: Change terminal font to Ricty
  become_user: "{{ admin }}"
  ansible.builtin.command: gsettings set org.gnome.desktop.interface monospace-font-name "Ricty Diminished Regular 12"
  tags: [desktop, terminal]
