---
- name: Reload apache
  ansible.builtin.systemd:
    name: apache2
    state: reloaded

- name: Restart aa-disable-homeassistant
  ansible.builtin.systemd:
    name: aa-disable-homeassistant
    state: restarted

- name: Restart apache
  ansible.builtin.systemd:
    name: apache2
    state: restarted

- name: Restart homeassistant
  community.docker.docker_compose_v2:
    project_src: /etc
    services: homeassistant
    state: restarted
