---
- name: "apache: Reload"
  ansible.builtin.systemd:
    name: apache2
    state: reloaded

- name: "aa-disable-homeassistant: Restart"
  ansible.builtin.systemd:
    name: aa-disable-homeassistant
    state: restarted

- name: "apache: Restart"
  ansible.builtin.systemd:
    name: apache2
    state: restarted

- name: "homeassistant: Restart"
  community.docker.docker_compose_v2:
    project_src: /etc
    services: homeassistant
    state: restarted
