---
- name: Install zabbix-release
  ansible.builtin.apt:
    deb: https://repo.zabbix.com/zabbix/{{ zabbix.version }}/release/ubuntu/pool/main/z/zabbix-release/zabbix-release_latest_{{ zabbix.version }}+ubuntu24.04_all.deb
  tags: [zabbix-agent-ubuntu, package]

- name: Install zabbix agent
  ansible.builtin.apt:
    name:
      - zabbix-agent
      - zabbix-sender
    update_cache: true
  tags: [zabbix-agent-ubuntu, package]

- name: Set zabbix server
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_agentd.conf
    regexp: "Server="
    line: "Server={{ zabbix.server }}"
  notify: Restart zabbix-agent
  tags: [zabbix-agent-ubuntu]

- name: Set zabbix server active
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_agentd.conf
    regexp: "ServerActive="
    line: "ServerActive={{ zabbix.server }}"
  notify: Restart zabbix-agent
  tags: [zabbix-agent-ubuntu]

- name: Set hostname
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_agentd.conf
    regexp: "Hostname="
    line: "Hostname={{ ansible_nodename }}"
  notify: Restart zabbix-agent
  tags: [zabbix-agent-ubuntu]

- name: Set Timeout
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_agentd.conf
    insertafter: "^# Timeout="
    regexp: "^Timeout="
    line: "Timeout=30"
  notify: Restart zabbix-agent
  tags: [zabbix-agent-ubuntu]

- name: Set Include
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_agentd.conf
    insertafter: "^# Include="
    regexp: "^Include="
    line: "Include=/etc/zabbix/zabbix_agentd.d/*.conf"
  notify: Restart zabbix-agent
  tags: [zabbix-agent-ubuntu]

- name: Remove zabbix_agentd.conf.d
  ansible.builtin.file:
    path: /etc/zabbix/zabbix_agentd.conf.d
    state: absent
  tags: [zabbix-agent-ubuntu]

- name: Make zabbix_agentd.d
  ansible.builtin.file:
    path: /etc/zabbix/zabbix_agentd.d
    state: directory
  tags: [zabbix-agent-ubuntu]

- name: Copy ubuntu.conf
  ansible.builtin.copy:
    src: ubuntu.conf
    dest: /etc/zabbix/zabbix_agentd.d
  notify: Restart zabbix-agent
  tags: [zabbix-agent-ubuntu]

- name: Remove userparameter_mysql.conf
  ansible.builtin.file:
    path: /etc/zabbix/zabbix_agentd.d/userparameter_mysql.conf
    state: absent
  notify: Restart zabbix-agent
  tags: [zabbix-agent-ubuntu]

- name: Add zabbix to adm group
  ansible.builtin.user:
    name: zabbix
    groups: 'zabbix,adm'
  notify: Restart zabbix-agent
  tags: [zabbix-agent-ubuntu]

- name: Make agentscripts dir
  ansible.builtin.file:
    path: /usr/lib/zabbix/agentscripts
    state: directory
  tags: [zabbix-agent-ubuntu]

- name: Copy for sudo
  ansible.builtin.copy:
    src: zabbix.sudo
    dest: /etc/sudoers.d/zabbix
  tags: [zabbix-agent-ubuntu]
