---
- name: "couchdb : Create data directories"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
  loop:
    - /srv/couchdb/data
    - /srv/couchdb/etc/local.d
  tags:
    - couchdb
    - init
    - couchdb_couchdb
    - couchdb_couchdb_init

- name: "couchdb : Add Docker Compose service"
  ansible.builtin.blockinfile:
    path: /etc/compose.yml
    marker: "# {mark} ANSIBLE MANAGED BLOCK couchdb"
    block: |2
        couchdb:
          container_name: couchdb
          image: apache/couchdb
          ports:
            - "5984:5984"
          volumes:
            - /srv/couchdb/data:/opt/couchdb/data
            - /srv/couchdb/etc/local.d:/opt/couchdb/etc/local.d
          environment:
            - COUCHDB_USER=tats
            - COUCHDB_PASSWORD={{ couchdb_password }}
          restart: unless-stopped
  notify: "couchdb: Restart"
  tags:
    - couchdb
    - config
    - docker
    - couchdb_couchdb
    - couchdb_couchdb_config

- name: "couchdb : Pull and update container"
  community.docker.docker_compose_v2:
    project_src: /etc
    services: couchdb
    state: present
    pull: always
  tags:
    - couchdb
    - update
    - docker
    - couchdb_couchdb
    - couchdb_couchdb_update

- name: "couchdb : Download init script"
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/vrtmrz/obsidian-livesync/main/utils/couchdb/couchdb-init.sh
    dest: /tmp
    mode: '0755'
  tags:
    - couchdb
    - init
    - couchdb_couchdb
    - couchdb_couchdb_download

- name: "couchdb : Run init script"
  ansible.builtin.command: /tmp/couchdb-init.sh
  environment:
    hostname: localhost:5984
    username: tats
    password: "{{ couchdb_password }}"
  tags:
    - couchdb
    - init
    - couchdb_couchdb
    - couchdb_couchdb_config

- name: "couchdb : Copy Apache vhost config"
  ansible.builtin.copy:
    src: couchdb.rewse.jp.conf
    dest: /etc/apache2/sites-available
  notify: "apache: Reload"
  tags:
    - couchdb
    - config
    - apache
    - couchdb_couchdb
    - couchdb_couchdb_config

- name: "couchdb : Enable Apache site"
  ansible.builtin.command: a2ensite couchdb.rewse.jp
  notify: "apache: Reload"
  tags:
    - couchdb
    - config
    - apache
    - couchdb_couchdb
    - couchdb_couchdb_config
