---
- name: "package : Install packages by homebrew"
  community.general.homebrew:
    name: 
      - node@20
    update_homebrew: true
  tags:
    - darwin
    - darwin_business
    - install
    - package
    - darwin_package
    - darwin_package_install

- name: "package : Install packages by homebrew_cask"
  community.general.homebrew_cask:
    name: 
      - asana
      - box-drive
      - corretto@8
      - displaylink
      - font-noto-sans-cjk
      - gotomeeting
      - microsoft-teams
      - monitorcontrol
      - quip
      - tripmode
      - webex-meetings
    update_homebrew: true
  tags:
    - darwin
    - darwin_business
    - install
    - package
    - darwin_package
    - darwin_package_install

- name: "package : Install packages by mas"
  ansible.builtin.command: mas install {{ item }}
  loop:
    - 1212616790  # Microsoft To Do
    - 1639692859  # WattsConnected
  ignore_errors: true
  tags:
    - darwin
    - darwin_business
    - install
    - package
    - darwin_package
    - darwin_package_install

# Install toolbox
# Ref: https://docs.hub.amazon.dev/builder-toolbox/user-guide/getting-started/

# Run `mwinit -o` before the command

# Ref: https://w.amazon.com/bin/view/Isengard-cli/
- name: "toolbox : Register isengard-cli repository"
  ansible.builtin.command: toolbox registry add s3://buildertoolbox-registry-isengard-cli-us-west-2/tools.json
  tags:
    - darwin
    - darwin_business
    - init
    - toolbox
    - darwin_toolbox
    - darwin_toolbox_init

# Ref: https://w.amazon.com/bin/view/DevAccount/Docs
- name: "toolbox : Install with toolbox"
  ansible.builtin.command: toolbox install {{ item }}
  loop:
    - ada
    - axe
    - isengard-cli
    - kiro-cli
    - mcp-registry
  tags:
    - darwin
    - darwin_business
    - install
    - toolbox
    - darwin_toolbox
    - darwin_toolbox_install

- name: "toolbox : Update toolbox"
  ansible.builtin.command: toolbox update
  tags:
    - darwin
    - darwin_business
    - install
    - toolbox
    - darwin_toolbox
    - darwin_toolbox_install

- name: "kiro : Install Kiro"
  ansible.builtin.command: axe init kiro
  args:
    creates: /Applications/Kiro.app
  tags:
    - darwin
    - darwin_business
    - install
    - kiro
    - darwin_kiro
    - darwin_kiro_install

- name: "mcp : Install MCP servers"
  ansible.builtin.command: mcp-registry install {{ item }}
  loop:
    - aws-outlook-mcp
    - aws-sentral-mcp
    - builder-mcp
  tags:
    - darwin
    - darwin_business
    - install
    - mcp
    - darwin_mcp
    - darwin_mcp_install

# - name: "package: Install rest of the apps"
#   install_yourself:
#     - https://www.poly.com/us/en/products/services/cloud/poly-lens  # Poly Lens
