Alias /fukugan /srv/www/wordpress
Alias /blog/rsrc /srv/www/wordpress/wp-content
Alias /blog /srv/www/wordpress

<IfModule mod_rewrite.c>
    RewriteRule ^/blog/p/category/(.*)-category(.*)$ https://%{HTTP_HOST}/blog/p/category/$1$2 [redirect=301,last]
    RewriteRule ^/blog/.*resources/(.*)$ https://%{HTTP_HOST}/blog/wp-content/uploads/p/$1 [redirect=301,last]
    RewriteRule ^/fukugan/rss/recent.php$ https://%{HTTP_HOST}/blog/feed [redirect=301,last]
    RewriteRule ^/fukugan/rss/2.0.php$ https://%{HTTP_HOST}/blog/feed [redirect=301,last]
    RewriteRule ^/fukugan/rss/1.0.php$ https://%{HTTP_HOST}/blog/feed [redirect=301,last]
    RewriteRule ^/fukugan/(.*)$ https://%{HTTP_HOST}/blog/ [redirect=301,last]
</IfModule>

<Directory /srv/www/wordpress>
    Require all granted
    AllowOverride FileInfo
</Directory>

#<Directory /srv/www/wordpress/wp-admin>
#    Require ip {{ global_ip.home }} {{ global_ip.office }}
#</Directory>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet