---
- name: Download Amazon Corretto GPG key
  ansible.builtin.get_url:
    url: https://apt.corretto.aws/corretto.key
    dest: /etc/apt/keyrings/corretto.gpg
  tags: [database-client-gui, package, java]

- name: Add Amazon Corretto repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/corretto.gpg] https://apt.corretto.aws stable main"
    filename: corretto
    state: present
  tags: [database-client-gui, package, java]

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
  tags: [database-client-gui, package, java]

- name: Install Amazon Corretto
  ansible.builtin.apt:
    name: java-{{ corretto_version }}-amazon-corretto-jdk
    state: present
  tags: [database-client-gui, package, java]

- name: Unarchive aws-schema-conversion-tool
  ansible.builtin.unarchive:
    src: https://s3.amazonaws.com/publicsctdownload/Ubuntu/aws-schema-conversion-tool-1.0.latest.zip
    dest: /usr/local/src
    remote_src: true
  tags: [database-client-gui, package, sct]

- name: Install aws-schema-conversion-tool
  ansible.builtin.apt:
    deb: /usr/local/src/aws-schema-conversion-tool-{{ sct_version }}.deb
  tags: [database-client-gui, package, sct]

- name: Install dbeaver
  ansible.builtin.apt:
    deb: https://dbeaver.io/files/dbeaver-ce_latest_amd64.deb
  tags: [database-client-gui, package, dbeaver]
