---
- name: "snmptrapd : Install packages"
  ansible.builtin.apt:
    name:
      - snmptrapd
      - snmptt
    update_cache: true
  tags:
    - snmptrapd
    - install
    - snmptrapd_snmptrapd
    - snmptrapd_snmptrapd_install

- name: "snmptrapd : Copy config file"
  ansible.builtin.copy:
    src: snmptrapd.conf
    dest: /etc/snmp
  notify: "snmptrapd: Restart"
  tags:
    - snmptrapd
    - config
    - snmptrapd_snmptrapd
    - snmptrapd_snmptrapd_config

- name: "snmptt : Enable net_snmp_perl"
  ansible.builtin.lineinfile:
    dest: /etc/snmp/snmptt.ini
    regexp: "^net_snmp_perl_enable ="
    line: "net_snmp_perl_enable = 1"
  notify: "snmptt: Restart"
  tags:
    - snmptrapd
    - config
    - snmptrapd_snmptt
    - snmptrapd_snmptt_config

- name: "snmptt : Set date_time_format"
  ansible.builtin.lineinfile:
    dest: /etc/snmp/snmptt.ini
    regexp: "^date_time_format ="
    line: "date_time_format = %H:%M:%S %Y/%m/%d"
  notify: "snmptt: Restart"
  tags:
    - snmptrapd
    - config
    - snmptrapd_snmptt
    - snmptrapd_snmptt_config

- name: "snmptt : Add trap format for Zabbix"
  ansible.builtin.blockinfile:
    path: /etc/snmp/snmptt.conf
    block: |
      EVENT general .* "General event" Normal
      FORMAT ZBXTRAP $aA $ar
  notify: "snmptt: Restart"
  tags:
    - snmptrapd
    - config
    - snmptrapd_snmptt
    - snmptrapd_snmptt_config
