---
- name: Install packages
  ansible.builtin.apt:
    name:
      - snmptrapd
      - snmptt
    update_cache: true
  tags: [snmptrapd]

- name: Copy snmptrapd.conf
  ansible.builtin.copy:
    src: snmptrapd.conf
    dest: /etc/snmp
  notify: Restart snmptrapd
  tags: [snmptrapd]

- name: Set net_snmp_perl_enable
  ansible.builtin.lineinfile:
    dest: /etc/snmp/snmptt.ini
    regexp: "^net_snmp_perl_enable ="
    line: "net_snmp_perl_enable = 1"
  notify: Restart snmptt
  tags: [snmptrapd]

- name: Set date_time_format
  ansible.builtin.lineinfile:
    dest: /etc/snmp/snmptt.ini
    regexp: "^date_time_format ="
    line: "date_time_format = %H:%M:%S %Y/%m/%d"
  notify: Restart snmptt
  tags: [snmptrapd]

- name: Add trap format
  ansible.builtin.blockinfile:
    path: /etc/snmp/snmptt.conf
    block: |
      EVENT general .* "General event" Normal
      FORMAT ZBXTRAP $aA $ar
  notify: Restart snmptt
  tags: [snmptrapd]
