---
- name: "certbot : Install prerequisite packages"
  ansible.builtin.apt:
    name:
      - python3
      - libaugeas0
  tags:
    - sslcert
    - install
    - sslcert_certbot
    - sslcert_certbot_install

- name: "certbot : Create installation directory"
  ansible.builtin.file:
    path: /opt/certbot
    state: directory
  tags:
    - sslcert
    - init
    - sslcert_certbot
    - sslcert_certbot_init

- name: "certbot : Create Python virtual environment with uv"
  ansible.builtin.shell: uv venv /opt/certbot
  args:
    creates: /opt/certbot/bin/activate
  tags:
    - sslcert
    - init
    - sslcert_certbot
    - sslcert_certbot_init

- name: "certbot : Install packages with uv"
  ansible.builtin.shell: uv pip install --upgrade \
      certbot \
      certbot-apache \
      certbot-dns-route53
  environment:
    VIRTUAL_ENV: /opt/certbot
  tags:
    - sslcert
    - install
    - sslcert_certbot
    - sslcert_certbot_install

- name: "certbot : Configure monthly cron job"
  ansible.builtin.template:
    src: certbot.cron.j2
    dest: /etc/cron.monthly/certbot
    mode: '0755'
    variable_start_string: "[%"
    variable_end_string: "%]"
  tags:
    - sslcert
    - config
    - cron
    - sslcert_certbot
    - sslcert_certbot_config

- name: "certbot : Copy AWS credentials"
  ansible.builtin.template:
    src: config.j2
    dest: /root/.aws/config
    mode: '0600'
    variable_start_string: "[%"
    variable_end_string: "%]"
  tags:
    - sslcert
    - config
    - sslcert_certbot
    - sslcert_certbot_config

#   Commented out to prevent that ansible makes unnecessary requests
#   Please run it manually if the first issue is needed
# - name: "certbot: Issue certificate"
#   ansible.builtin.shell: |
#     sudo certbot certonly \
#     --dns-route53 \
#     -d 'rewse.jp' \
#     -d '*.rewse.jp' \
#     -m 'hostmaster@rewse.jp' \
#     -i apache \
#     --post-hook 'systemctl reload apache2' \
#     --preferred-challenges 'dns-01' \
#     --server 'https://acme-v02.api.letsencrypt.org/directory' \
#     --agree-tos
#   tags: [sslcert, init]

- name: "apache : Set SSL certificate path"
  ansible.builtin.lineinfile:
    path: /etc/apache2/sites-available/000-default-ssl.conf
    regexp: '^\s+SSLCertificateFile'
    line: '        SSLCertificateFile /etc/letsencrypt/live/rewse.jp/fullchain.pem'
  tags:
    - sslcert
    - config
    - apache
    - sslcert_apache
    - sslcert_apache_config

- name: "apache : Set SSL private key path"
  ansible.builtin.lineinfile:
    path: /etc/apache2/sites-available/000-default-ssl.conf
    regexp: '^\s+SSLCertificateKeyFile'
    line: '        SSLCertificateKeyFile /etc/letsencrypt/live/rewse.jp/privkey.pem'
  tags:
    - sslcert
    - config
    - apache
    - sslcert_apache
    - sslcert_apache_config
