---
- name: "certbot: Install prerequisite packages"
  ansible.builtin.apt:
    name:
      - python3
      - python3-venv
      - libaugeas0
  tags: [sslcert, install]

- name: "certbot: Create installation directory"
  ansible.builtin.file:
    path: /opt/certbot
    state: directory
  tags: [sslcert, init]

- name: "certbot: Create Python virtual environment"
  ansible.builtin.command: python3 -m venv /opt/certbot
  tags: [sslcert, init]

- name: "certbot: Install packages"
  ansible.builtin.pip:
    name:
      - certbot
      - certbot-apache
      - certbot-dns-route53
      - pip-review
    virtualenv: /opt/certbot
  tags: [sslcert, install]

- name: "certbot: Configure monthly cron job"
  ansible.builtin.template:
    src: certbot.cron.j2
    dest: /etc/cron.monthly/certbot
    mode: '0644'
    variable_start_string: "[%"
    variable_end_string: "%]"
  tags: [sslcert, config, cron]

- name: "certbot: Copy AWS credentials"
  ansible.builtin.template:
    src: config.j2
    dest: /root/.aws/config
    mode: '0600'
    variable_start_string: "[%"
    variable_end_string: "%]"
  tags: [sslcert, config]

#   Commented out to prevent that ansible makes unnecessary requests
#   Please run it manually if the first issue is needed
# - name: "certbot: Issue certificate"
#   ansible.builtin.shell: |
#     sudo certbot certonly \
#     --dns-route53 \
#     -d 'rewse.jp' \
#     -d '*.rewse.jp' \
#     -m 'hostmaster@rewse.jp' \
#     -i apache \
#     --post-hook 'systemctl reload apache2' \
#     --preferred-challenges 'dns-01' \
#     --server 'https://acme-v02.api.letsencrypt.org/directory' \
#     --agree-tos
#   tags: [sslcert, init]

- name: "apache: Set SSL certificate path"
  ansible.builtin.lineinfile:
    path: /etc/apache2/sites-available/000-default-ssl.conf
    regexp: '^\s+SSLCertificateFile'
    line: '        SSLCertificateFile /etc/letsencrypt/live/rewse.jp/fullchain.pem'
  tags: [sslcert, config, apache]

- name: "apache: Set SSL private key path"
  ansible.builtin.lineinfile:
    path: /etc/apache2/sites-available/000-default-ssl.conf
    regexp: '^\s+SSLCertificateKeyFile'
    line: '        SSLCertificateKeyFile /etc/letsencrypt/live/rewse.jp/privkey.pem'
  tags: [sslcert, config, apache]
