#!/usr/bin/env bash

trap 'my_exit 1' 1 2 3 15

readonly token=[% switchbot.token %]
readonly device_id=$1
readonly res_file=$(mktemp --tmpdir switchbot.XXXXXXXXXX)

if [ ! "$device_id" ]; then
    echo "[USAGE] switchbot.sh device_id"
    exit 1
fi

# {{{ my_exit()

my_exit() {
    rm -f $res_file
    echo $1
    exit $1
}

# }}}
# {{{ sendfrom_sensor()

send_humiture() {
    curl -H """Authorization: $token""" \
    https://api.switch-bot.com/v1.0/devices/$device_id/status \
    -o $res_file > /dev/null 2>&1

    retval=$?

    if [ "$retval" != "0" ]; then
        my_exit $retval
    fi

    temp=$(cat $res_file | jq -r '.body.temperature')

    zabbix_sender \
        -c /etc/zabbix/zabbix_agentd.conf \
        -s SmartHome \
        -k switchbot.meter.temp[$device_id] \
        -o $temp \
    > /dev/null 2>&1

    retval=$(expr $retval + $?)

    humi=$(cat $res_file | jq -r '.body.humidity')

    zabbix_sender \
        -c /etc/zabbix/zabbix_agentd.conf \
        -s SmartHome \
        -k switchbot.meter.humi[$device_id] \
        -o $humi \
    > /dev/null 2>&1

    retval=$(expr $retval + $?)
}

# }}}
# {{{ Main

send_humiture

my_exit $retval

# }}}
