---
- name: "zabbix-agent: Copy Raspberry Pi config"
  ansible.builtin.copy:
    src: raspberrypi.conf
    dest: /etc/zabbix/zabbix_agentd.d
  notify: "zabbix-agent: Restart"
  tags: [zabbix-agent-raspberrypi, config]

- name: "zabbix-agent: Copy systemd service file"
  ansible.builtin.copy:
    src: /usr/lib/systemd/system/zabbix-agent.service
    dest: /etc/systemd/system
    remote_src: true
  notify: "zabbix-agent: Restart"
  tags: [zabbix-agent-raspberrypi, config]

- name: "zabbix-agent: Set User to root"
  ansible.builtin.lineinfile:
    path: /etc/systemd/system/zabbix-agent.service
    regexp: '^User='
    line: "User=root"
  notify: "zabbix-agent: Restart"
  tags: [zabbix-agent-raspberrypi, config]

- name: "zabbix-agent: Set Group to root"
  ansible.builtin.lineinfile:
    path: /etc/systemd/system/zabbix-agent.service
    regexp: '^Group='
    line: "Group=root"
  notify: "zabbix-agent: Restart"
  tags: [zabbix-agent-raspberrypi, config]

- name: "zabbix-agent: Enable AllowRoot"
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_agentd.conf
    insertafter: '^# AllowRoot='
    regexp: '^AllowRoot='
    line: "AllowRoot=1"
  notify: "zabbix-agent: Restart"
  tags: [zabbix-agent-raspberrypi, config]

- name: "zabbix-agent: Copy Bluetooth devices config"
  ansible.builtin.copy:
    src: bluetooth-devices.conf
    dest: /etc/zabbix/zabbix_agentd.d
  notify: "zabbix-agent: Restart"
  tags: [zabbix-agent-raspberrypi, config]
