---
- name: Copy raspberrypi.conf
  ansible.builtin.copy:
    src: raspberrypi.conf
    dest: /etc/zabbix/zabbix_agentd.d
  notify: Restart zabbix-agent
  tags: [zabbix-agent-raspberrypi]

- name: Copy zabbix-agent.service
  ansible.builtin.copy:
    src: /usr/lib/systemd/system/zabbix-agent.service
    dest: /etc/systemd/system
    remote_src: true
  notify: Restart zabbix-agent
  tags: [zabbix-agent-raspberrypi]

- name: Change User
  ansible.builtin.lineinfile:
    path: /etc/systemd/system/zabbix-agent.service
    regexp: '^User='
    line: "User=root"
  notify: Restart zabbix-agent
  tags: [zabbix-agent-raspberrypi]

- name: Change Group
  ansible.builtin.lineinfile:
    path: /etc/systemd/system/zabbix-agent.service
    regexp: '^Group='
    line: "Group=root"
  notify: Restart zabbix-agent
  tags: [zabbix-agent-raspberrypi]

- name: Allow root
  ansible.builtin.lineinfile:
    path: /etc/zabbix/zabbix_agentd.conf
    insertafter: '^# AllowRoot='
    regexp: '^AllowRoot='
    line: "AllowRoot=1"
  notify: Restart zabbix-agent
  tags: [zabbix-agent-raspberrypi]

- name: Copy bluetooth-devices.conf
  ansible.builtin.copy:
    src: bluetooth-devices.conf
    dest: /etc/zabbix/zabbix_agentd.d
  notify: Restart zabbix-agent
  tags: [zabbix-agent-raspberrypi]
