uid = root
gid = root
use chroot = yes
max connections = 4
pid file = /var/run/rsyncd.pid
lock file = /var/run/rsync.lock
log file = /var/log/rsyncd.log

[homeassistant-config]
    path = /srv/homeassistant/config
    comment = Home Assistant configuration files
    read only = yes
    list = yes
    hosts allow = 192.168.0.0/24 {{ ipv6.home }}
    hosts deny = *
