trusted_networks 192.168.0.1/16 {{global_ip.home}} {{global_ip.office}}
score BAYES_80 11
score BAYES_95 13
score BAYES_99 15
report_safe 0

{% for line in spamassassin_whitelists %}
whitelist_from {{line}}
{% endfor %}

header SUBJECT_PAYMENT Subject =~ /FW: Payment \#/
describe SUBJECT_PAYMENT "FW: Payment" subject
score SUBJECT_PAYMENT 5

header SUBJECT_CONFIRMATION Subject =~ /FW: Confirmation \#/
describe SUBJECT_CONFIRMATION "FW: Confirmation" subject
score SUBJECT_CONFIRMATION 5
