---
- name: "postfix : Set myhostname"
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    insertafter: "^myhostname "
    regexp: "^myhostname "
    line: "myhostname = {{ ansible_nodename }}"
  notify: "postfix: Reload"
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Set mydomain"
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    insertafter: "^myhostname "
    regexp: "^mydomain "
    line: "mydomain = rewse.jp"
  notify: "postfix: Reload"
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Set myorigin"
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    insertafter: "^#myorigin "
    regexp: "^myorigin "
    line: "myorigin = $mydomain"
  notify: "postfix: Reload"
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Set relayhost"
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    insertafter: "^#relayhost "
    regexp: "^relayhost "
    line: 'relayhost = [{{ relayhost.name }}]:{{ relayhost.port }}'
  notify: "postfix: Reload"
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Set smtp_tls_security_level"
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^smtp_tls_security_level"
    line: "smtp_tls_security_level = encrypt"
  notify: "postfix: Reload"
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Set smtp_tls_wrappermode"
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^smtp_tls_wrappermode"
    line: "smtp_tls_wrappermode = yes"
  notify: "postfix: Reload"
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Enable SASL authentication"
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^smtp_sasl_auth_enable "
    line: "smtp_sasl_auth_enable = yes"
  notify: "postfix: Reload"
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Set SASL mechanism filter"
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "^smtp_sasl_mechanism_filter"
    line: "smtp_sasl_mechanism_filter = plain, login"
  notify: "postfix: Reload"
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Set SASL password maps"
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "smtp_sasl_password_maps "
    line: "smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd"
  notify: "postfix: Reload"
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Set SASL security options"
  ansible.builtin.lineinfile:
    dest: /etc/postfix/main.cf
    regexp: "smtp_sasl_security_options "
    line: "smtp_sasl_security_options = noanonymous"
  notify: "postfix: Reload"
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Create SASL password file"
  ansible.builtin.lineinfile:
    dest: /etc/postfix/sasl_passwd
    regexp: '^\[{{ relayhost.name }}\]:{{ relayhost.port }}'
    line: '[{{ relayhost.name }}]:{{ relayhost.port }} {{ so_net.username }}:{{ so_net.password }}'
    create: true
    mode: '0600'
  register: postfix_sasl_password_out
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config
    - postfix-client_postfix_init

- name: "postfix : Create SASL password database file"
  ansible.builtin.file:
    path: /etc/postfix/sasl_passwd.db
    state: touch
    mode: '0600'
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config
    - postfix-client_postfix_init

- name: "postfix : Hash SASL password file"
  ansible.builtin.command: postmap hash:/etc/postfix/sasl_passwd
  when: postfix_sasl_password_out is changed
  notify: "postfix: Reload"
  tags:
    - postfix-client
    - config
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Set root mail alias"
  ansible.builtin.lineinfile:
    dest: /etc/aliases
    insertafter: "^postmaster:"
    regexp: "^root: "
    line: "root: {{ email.primary }}"
  tags:
    - postfix-client
    - config
    - aliases
    - postfix-client_postfix
    - postfix-client_postfix_config

- name: "postfix : Rebuild aliases database"
  ansible.builtin.command: newaliases
  tags:
    - postfix-client
    - config
    - aliases
    - postfix-client_postfix
    - postfix-client_postfix_config
