---
- name: "chezmoi : Install via Homebrew (macOS)"
  community.general.homebrew:
    name: chezmoi
  when: ansible_facts["system"] == "Darwin"
  tags:
    - chezmoi
    - install
    - chezmoi_chezmoi
    - chezmoi_chezmoi_install

- name: "chezmoi : Install via script (Linux)"
  ansible.builtin.shell: sh -c "$(curl -fsLS get.chezmoi.io)" -- -b /usr/local/bin
  args:
    creates: /usr/local/bin/chezmoi
  when: ansible_facts["system"] == "Linux"
  tags:
    - chezmoi
    - install
    - chezmoi_chezmoi
    - chezmoi_chezmoi_install

- name: "chezmoi : Check initialization status"
  ansible.builtin.stat:
    path: "{{ item.home }}/.local/share/chezmoi/.git"
  become: true
  become_user: "{{ item.user }}"
  loop:
    - { user: "root", home: "/root" }
    - { user: "{{ admin }}", home: "/home/{{ admin }}" }
  register: chezmoi_initialized
  when: ansible_facts["system"] == "Linux"
  tags:
    - chezmoi
    - init
    - chezmoi_chezmoi
    - chezmoi_chezmoi_install

- name: "chezmoi : Initialize"
  ansible.builtin.command: chezmoi init rewse
  become: true
  become_user: "{{ item.item.user }}"
  loop: "{{ chezmoi_initialized.results }}"
  when:
    - ansible_facts["system"] == "Linux"
    - not item.stat.exists
  tags:
    - chezmoi
    - init
    - chezmoi_chezmoi
    - chezmoi_chezmoi_init

- name: "chezmoi : Update and apply"
  ansible.builtin.command: chezmoi update --force
  become: true
  become_user: "{{ item }}"
  environment:
    OP_SERVICE_ACCOUNT_TOKEN: "{{ onepassword_token }}"
  loop:
    - root
    - "{{ admin }}"
  when: ansible_facts["system"] == "Linux"
  tags:
    - chezmoi
    - update
    - chezmoi_chezmoi
    - chezmoi_chezmoi_update
