---
- name: Create directory
  ansible.builtin.file:
    path: /etc/matter-server/data
    state: directory
  tags: [matter-server]

- name: Add to compose.yml
  ansible.builtin.blockinfile:
    path: /etc/compose.yml
    marker: "# {mark} ANSIBLE MANAGED BLOCK matter-server"
    block: |2
        matter-server:
          container_name: matter-server
          image: ghcr.io/home-assistant-libs/python-matter-server:stable
          volumes:
            - /run/dbus:/run/dbus:ro
            - /srv/matter-server/data:/data
          security_opt:
            - apparmor:unconfined
          network_mode: host
          restart: unless-stopped
  notify: Restart matter-server
  tags: [matter-server]
