---
- name: Install additional packages
  ansible.builtin.apt:
    name:
      - python3-bs4
      - python3-selenium
    update_cache: true
  tags: [zabbix-money-sjdc, package]

- name: Clone sjdc.git
  ansible.builtin.git:
    repo: git@github.com:rewse/sjdc.git
    dest: /srv/git/sjdc
    accept_hostkey: true
    key_file: /home/{{ admin }}/.ssh/id_rsa
  tags: [zabbix-money-sjdc]

- name: Copy sjdc
  ansible.builtin.copy:
    src: /srv/git/sjdc/sjdc
    dest: /usr/local/bin/
    mode: '0755'
    remote_src: true
  tags: [zabbix-money-sjdc]

- name: Copy sjdc.sh
  ansible.builtin.template:
    src: sjdc.sh.j2
    dest: /usr/lib/zabbix/agentscripts/sjdc.sh
    group: zabbix
    mode: '0750'
    variable_start_string: "[%"
    variable_end_string: "%]"
  tags: [zabbix-money-sjdc]

- name: Copy sjdc.conf
  ansible.builtin.copy:
    src: sjdc.conf
    dest: /etc/zabbix/zabbix_agentd.d
  notify: Restart zabbix-agent
  tags: [zabbix-money-sjdc]
