---
- name: Add an apt repository for MySQL
  ansible.builtin.apt:
    deb: https://repo.mysql.com//mysql-apt-config_{{ mysql_apt_config_version }}_all.deb
  tags: [database-client, package, mysql]

- name: Install additional packages
  ansible.builtin.apt:
    name:
      - mysql-client
      - postgresql-client
      - libpostgresql-jdbc-java
      - alien
      - rlwrap
  tags: [database-client, package, mysql, postgresql, oracle]

- name: Install mysql-connector-j
  ansible.builtin.apt:
    deb: https://cdn.mysql.com//Downloads/Connector-J/mysql-connector-j_{{ mysql_connector_version }}_all.deb
  tags: [database-client, package, mysql]

- name: Copy instantclient
  ansible.builtin.unarchive:
    src: https://download.oracle.com/otn_software/linux/instantclient/{{ oracle_instantclient_version_1 }}{{ oracle_instantclient_version_2 }}000/instantclient-{{ item }}-linux.x64-{{ oracle_instantclient_version_1 }}.{{ oracle_instantclient_version_2 }}.{{ oracle_instantclient_version_3 }}.zip
    dest: /srv
    remote_src: true
  loop:
    - basic
    - sqlplus
    - tools
  tags: [database-client, oracle]

- name: Add /srv/instantclient to PATH
  ansible.builtin.template:
    src: oracle-instantclient.sh.j2
    dest: /etc/profile.d/oracle-instantclient.sh
  tags: [database-client, oracle]

- name: Add /srv/instantclient to ld.so
  ansible.builtin.template:
    src: oracle-instantclient.conf.j2
    dest: /etc/ld.so.conf.d/oracle-instantclient.conf
  tags: [database-client, oracle]

- name: Create symlink for ojdbc.jar
  ansible.builtin.file:
    src: /srv/instantclient_{{ oracle_instantclient_version_1 }}_{{ oracle_instantclient_version_2 }}/ojdbc8.jar
    dest: /usr/share/java/ojdbc11.jar
    state: link
  tags: [database-client, oracle]

- name: Add safe directory
  community.general.git_config:
    name: safe.directory
    scope: global
    value: /srv/git/orascript
  tags: [database-client, oracle]

- name: Clone orascript.git
  ansible.builtin.git:
    repo: git@github.com:rewse/orascript.git
    dest: /srv/git/orascript
    accept_hostkey: true
    key_file: /home/{{ admin }}/.ssh/id_rsa
  tags: [database-client, oracle]

- name: Change mode of git/orascript
  ansible.builtin.file:
    path: /srv/git/orascript
    owner: "{{ admin }}"
    group: "{{ admin }}"
    recurse: true
  tags: [database-client, oracle]

- name: Copy orarc
  become_user: "{{ admin }}"
  ansible.builtin.copy:
    src: /srv/git/orascript/orarc
    dest: /home/{{ admin }}/.orarc
    remote_src: true
  tags: [database-client, oracle]

- name: Create symlink for orascript/common
  become_user: "{{ admin }}"
  ansible.builtin.file:
    src: /srv/git/orascript/common
    dest: /home/{{ admin }}/oracle
    state: link
  tags: [database-client, oracle]

- name: Install Redshift JDBC driver
  ansible.builtin.get_url:
    url: https://s3.amazonaws.com/redshift-downloads/drivers/jdbc/{{ redshift_jdbc_version }}/redshift-jdbc42-{{ redshift_jdbc_version }}.jar
    dest: /usr/share/java
  tags: [database-client, redshift]

- name: Create symlink RedShiftJDBC.jar
  ansible.builtin.file:
    src: redshift-jdbc42-{{ redshift_jdbc_version }}.jar
    dest: /usr/share/java/{{ item }}
    state: link
  loop:
    - redshift-jdbc42.jar
    - redshift-jdbc.jar
  tags: [database-client, redshift]
