#!/bin/bash
set -euo pipefail

sleep $((RANDOM % 60))

uvx enecoq-data-fetcher \
  --email '[% enecoq_data_fetcher_enecoq.email %]' \
  --password '[% enecoq_data_fetcher_enecoq.password %]' \
  --period month \
  --format json \
  --output /srv/homeassistant/config/data/enecoq_data.json \
  || {
    uvx --from enecoq-data-fetcher playwright install chromium
    uvx enecoq-data-fetcher \
      --email '[% enecoq_data_fetcher_enecoq.email %]' \
      --password '[% enecoq_data_fetcher_enecoq.password %]' \
      --period month \
      --format json \
      --output /srv/homeassistant/config/data/enecoq_data.json
  }
