---
- name: Copy 10-remote.conf
  ansible.builtin.copy:
    src: 10-remote.conf
    dest: /etc/rsyslog.d
  notify: Restart rsyslog
  tags: [syslogd]

- name: Copy remote for logrotate
  ansible.builtin.copy:
    src: remote
    dest: /etc/logrotate.d
  notify: Restart logrotate
  tags: [syslogd]
