failover peer "fox-hotel" {
    {{ dhcpd.role }};
    address {{ local.fqdn }};
    port {{ dhcpd.port }};

    peer address {{ dhcpd.peer.fqdn }};
    peer port {{ dhcpd.peer.port }};

    max-response-delay 60;
    max-unacked-updates 10;

    {{ dhcpd.mclt }}
    {{ dhcpd.split }}

    load balance max seconds 3;
}

authoritative;
default-lease-time 28800;
max-lease-time 86400;
use-host-decl-names on;

subnet 192.168.0.0 netmask 255.255.255.0 {
    pool {
        failover peer "fox-hotel";
        range 192.168.0.200 192.168.0.248;

        option routers 192.168.0.1;
        option subnet-mask 255.255.255.0;
        option broadcast-address 192.168.0.255;
        option domain-name-servers {{ resolved1.ip }}, {{ resolved2.ip }};
        option domain-name "rewse.jp";
        option ntp-servers 192.168.0.1;

        include "/etc/dhcp/fixed-addresses.conf";
    }
}
