authoritative;
default-lease-time 28800;
max-lease-time 86400;
use-host-decl-names on;

subnet6 240f:78:31e9:1::/64 {
    range6 {{ dhcpd.range6.begin }} {{ dhcpd.range6.end }};

    option dhcp6.name-servers {{ resolved1.ipv6 }}, {{ resolved2.ipv6 }};
    option dhcp6.sntp-servers 240f:78:31e9:1::1;
    option dhcp6.domain-search "rewse.jp";
}
