---
- name: "zabbix-money-market : Install packages"
  ansible.builtin.apt:
    name:
      - python3-bs4
      - python3-requests
    update_cache: true
  tags: [zabbix-money-market, install]

- name: "zabbix-money-market : Clone repository"
  ansible.builtin.git:
    repo: git@github.com:rewse/market-price-check.git
    dest: /srv/git/market-price-check
    accept_hostkey: true
    key_file: /home/{{ admin }}/.ssh/id_rsa
  tags: [zabbix-money-market, install]

- name: "zabbix-money-market : Copy script to /usr/local/bin"
  ansible.builtin.copy:
    src: /srv/git/market-price-check/market-price-check
    dest: /usr/local/bin/
    mode: '0755'
    remote_src: true
  tags: [zabbix-money-market, config]

- name: "zabbix-money-market : Copy external script"
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /usr/lib/zabbix/externalscripts
    mode: '0755'
  loop:
    - market-price-check.sh
  tags: [zabbix-money-market, config]
