---
- name: Install additional packages
  ansible.builtin.apt:
    name:
      - python3-bs4
      - python3-requests
    update_cache: true
  tags: [zabbix-money-market, package]

- name: Clone market-price-check.git
  ansible.builtin.git:
    repo: git@github.com:rewse/market-price-check.git
    dest: /srv/git/market-price-check
    accept_hostkey: true
    key_file: /home/{{ admin }}/.ssh/id_rsa
  tags: [zabbix-money-market]

- name: Copy market-price-check
  ansible.builtin.copy:
    src: /srv/git/market-price-check/market-price-check
    dest: /usr/local/bin/
    mode: '0755'
    remote_src: true
  tags: [zabbix-money-market]

- name: Copy to externalscripts
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /usr/lib/zabbix/externalscripts
    mode: '0755'
  loop:
    - market-price-check.sh
  tags: [zabbix-money-market]
