---
- name: Check if uv is installed
  ansible.builtin.stat:
    path: /root/.local/bin/uv
  register: uv_installed
  tags: [enecoq-data-fetcher, uv, install]

- name: Install uv
  ansible.builtin.shell: curl -LsSf https://astral.sh/uv/install.sh | sh
  when: not uv_installed.stat.exists
  tags: [enecoq-data-fetcher, uv, install]

- name: Create symlinks for uv and uvx in /usr/local/sbin
  ansible.builtin.file:
    src: /root/.local/bin/{{ item }}
    dest: /usr/local/sbin/{{ item }}
    state: link
  loop:
    - uv
    - uvx
  tags: [enecoq-data-fetcher, uv, install]

- name: Update uv to latest version
  ansible.builtin.command: uv self update
  tags: [enecoq-data-fetcher, uv, update]

- name: Create data directory for Home Assistant
  ansible.builtin.file:
    path: /srv/homeassistant/config/data
    state: directory
  tags: [enecoq-data-fetcher, setup]

- name: Install chromium
  ansible.builtin.command: uvx --from enecoq-data-fetcher playwright install chromium --force
  tags: [enecoq-data-fetcher, uv, install]

- name: Install cron job
  ansible.builtin.template:
    src: enecoq-data-fetcher.cron.j2
    dest: /etc/cron.d/enecoq-data-fetcher
    variable_start_string: '[%'
    variable_end_string: '%]'
    mode: '0600'
  tags: [enecoq-data-fetcher, cron]

- name: Install logrotate configuration
  ansible.builtin.copy:
    src: enecoq-data-fetcher.logrotate
    dest: /etc/logrotate.d/enecoq-data-fetcher
  tags: [enecoq-data-fetcher, logrotate]
