---
- name: "open-webui : Create data directory"
  ansible.builtin.file:
    path: /srv/open-webui/data
    state: directory
  tags: [open-webui, init]

- name: "open-webui : Add Docker Compose services"
  ansible.builtin.blockinfile:
    path: /etc/compose.yml
    marker: "# {mark} ANSIBLE MANAGED BLOCK open-webui"
    block: |2
        open-webui:
          container_name: open-webui
          image: ghcr.io/open-webui/open-webui:main
          ports:
            - "3000:8080"
          volumes:
            - /srv/open-webui/data:/app/backend/data
          restart: unless-stopped
        mcpo:
          container_name: mcpo
          image: ghcr.io/open-webui/mcpo:latest
          ports:
            - "8000:8000"
          volumes:
            - /root/.config/mcp.json:/app/config.json
          command: --config /app/config.json --port 8000 --api-key {{ lookup('pipe', 'op read "op://ansible/MCPO/credential"') }}
          restart: unless-stopped
  notify: "open-webui: Restart"
  tags: [open-webui, config, docker]

- name: "open-webui : Enable Apache proxy modules"
  community.general.apache2_module:
    name: "{{ item }}"
  loop:
    - proxy
    - proxy_http
    - proxy_wstunnel
  notify: "apache: Restart"
  tags: [open-webui, config, apache]

- name: "open-webui : Copy Apache vhost config"
  ansible.builtin.copy:
    src: openwebui.rewse.jp.conf
    dest: /etc/apache2/sites-available
  notify: "apache: Reload"
  tags: [open-webui, config, apache]

- name: "open-webui : Enable Apache site"
  ansible.builtin.command: a2ensite openwebui.rewse.jp
  notify: "apache: Reload"
  tags: [open-webui, config, apache]
