---
- name: Restart ssh
  ansible.builtin.systemd:
    name: ssh
    state: restarted

- name: Restart ssh.socket
  ansible.builtin.systemd:
    daemon_reload: true
    name: ssh.socket
    state: restarted
