---
- name: "ssh: Restart"
  ansible.builtin.systemd:
    name: ssh
    state: restarted

- name: "ssh: Restart socket"
  ansible.builtin.systemd:
    daemon_reload: true
    name: ssh.socket
    state: restarted
