ExtendedStatus On

<Location /server-status>
  SetHandler server-status

  Require ip {{global_ip.home}} {{global_ip.office}}
  Require host www1.rewse.jp www2.rewse.jp

  RewriteEngine on
  RewriteCond %{HTTPS} !=on
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</Location>
