DATABASE_HOST={{ teslamate_database_tls_host | replace('$', '$$') | to_json }}
DATABASE_NAME={{ teslamate_database_name | replace('$', '$$') | to_json }}
DATABASE_PASS={{ teslamate_database_password | replace('$', '$$') | to_json }}
DATABASE_PORT={{ teslamate_database_port }}
DATABASE_SSL_MODE=require
DATABASE_USER={{ teslamate_database_username | replace('$', '$$') | to_json }}
GF_AUTH_ANONYMOUS_ENABLED=false
GF_AUTH_BASIC_ENABLED=true
GF_SECURITY_ADMIN_PASSWORD={{ teslamate_grafana_admin_password | replace('$', '$$') | to_json }}
GF_SECURITY_ADMIN_USER={{ teslamate_grafana_admin_username | replace('$', '$$') | to_json }}
GF_SERVER_ROOT_URL=https://{{ teslamate_grafana_hostname }}
GRAFANA_PASSWD={{ teslamate_grafana_admin_password | replace('$', '$$') | to_json }}
