CHECK_ORIGIN=true
DATABASE_HOST={{ teslamate_database_tls_host }}
DATABASE_NAME={{ teslamate_database_name }}
DATABASE_PASS={{ teslamate_database_password | replace('$', '$$') | to_json }}
DATABASE_PORT={{ teslamate_database_port }}
DATABASE_SSL=true
DATABASE_SSL_CA_CERT_FILE=/etc/ssl/certs/aws-rds-global-bundle.pem
DATABASE_USER={{ teslamate_database_username }}
ENCRYPTION_KEY={{ teslamate_encryption_key | replace('$', '$$') | to_json }}
MQTT_HOST={{ teslamate_mqtt_host }}
MQTT_PASSWORD={{ teslamate_mqtt_password | replace('$', '$$') | to_json }}
MQTT_PORT={{ teslamate_mqtt_port }}
MQTT_USERNAME={{ teslamate_mqtt_username }}
TZ=Asia/Tokyo
VIRTUAL_HOST={{ teslamate_hostname }}
