---
- name: "zabbix-money-sbisec: Install packages"
  ansible.builtin.apt:
    name:
      - python3-bs4
      - python3-selenium
    update_cache: true
  tags: [zabbix-money-sbisec, install]

- name: "zabbix-money-sbisec: Clone repository"
  ansible.builtin.git:
    repo: git@github.com:rewse/sbisec.git
    dest: /srv/git/sbisec
    accept_hostkey: true
    key_file: /home/{{ admin }}/.ssh/id_rsa
  tags: [zabbix-money-sbisec, install]

- name: "zabbix-money-sbisec: Copy script to /usr/local/bin"
  ansible.builtin.copy:
    src: /srv/git/sbisec/sbisec
    dest: /usr/local/bin/
    mode: '0755'
    remote_src: true
  tags: [zabbix-money-sbisec, config]

- name: "zabbix-money-sbisec: Copy agent script"
  ansible.builtin.template:
    src: sbisec.sh.j2
    dest: /usr/lib/zabbix/agentscripts/sbisec.sh
    group: zabbix
    mode: '0750'
    variable_start_string: "[%"
    variable_end_string: "%]"
  tags: [zabbix-money-sbisec, config]

- name: "zabbix-money-sbisec: Copy agent config"
  ansible.builtin.copy:
    src: sbisec.conf
    dest: /etc/zabbix/zabbix_agentd.d
  notify: "zabbix-agent: Restart"
  tags: [zabbix-money-sbisec, config]
