---
- name: "zabbix-aws : Copy GuardDuty monitoring script"
  ansible.builtin.copy:
    src: guardduty.sh
    dest: /usr/lib/zabbix/agentscripts
    mode: '0755'
  tags: [zabbix-aws, config, guardduty]

- name: "zabbix-aws : Copy GuardDuty agent config"
  ansible.builtin.copy:
    src: guardduty.conf
    dest: /etc/zabbix/zabbix_agentd.d
  notify: "zabbix-agent: Restart"
  tags: [zabbix-aws, config, guardduty]
