---
mcp_config_dir: "{{ ansible_env.HOME }}/.config"
mcp_config_file: "{{ mcp_config_dir }}/mcp.json"

mcp_servers_common:
  brave-search:
    command: "npx"
    args:
      - "-y"
      - "@modelcontextprotocol/server-brave-search"
    env:
      "BRAVE_API_KEY": "{{ vault_brave_api_key }}"
    disabled: false
    autoApprove:
      - "brave_web_search"
  fetch:
    command: "uvx"
    args:
      - "mcp-server-fetch"
      - "--ignore-robots-txt"
    disabled: false
    autoApprove:
      - fetch

mcp_additional_config: |
  "settings": {
  }

mcp_validate_config: true
mcp_validation_command: "{{ mcp_python_executable }} -m json.tool"
