#!/bin/bash

# Activate certbot virtual environment
source /opt/certbot/bin/activate

# Update certbot packages
VIRTUAL_ENV=/opt/certbot uv pip install --upgrade certbot certbot-apache certbot-dns-route53

# Renew certificates
certbot renew --quiet

# Restart Apache if running
systemctl is-active --quiet apache2 && systemctl restart apache2
