[Unit]
Description=hciattach fixing service
Documentation=https://askubuntu.com/questions/1246723/bluetooth-not-working-on-ubuntu-20-rapsberry-pi
Requires=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/local/lib/fix-hciattach

[Install]
WantedBy=default.target
