---
- name: Install additional packages
  ansible.builtin.apt:
    name:
      - mosquitto
      - mosquitto-clients
  tags: [mosquitto, package]

- name: Copy pwfile
  ansible.builtin.template:
    src: pwfile.j2
    dest: /etc/mosquitto/pwfile
  tags: [mosquitto]

- name: Convert pwfile
  ansible.builtin.command: mosquitto_passwd -U /etc/mosquitto/pwfile
  tags: [mosquitto]

- name: Copy password.conf
  ansible.builtin.copy:
    src: password.conf
    dest: /etc/mosquitto/conf.d
  notify: Restart mosquitto
  tags: [mosquitto]
