---
- name: Reload apache
  ansible.builtin.systemd:
    name: apache2
    state: reloaded

- name: Restart apache
  ansible.builtin.systemd:
    name: apache2
    state: restarted

- name: Restart couchdb
  community.docker.docker_compose_v2:
    project_src: /etc
    services: couchdb
    state: restarted
