---
- name: Install zabbix-release
  ansible.builtin.apt:
    deb: https://repo.zabbix.com/zabbix/{{ zabbix.version }}/release/ubuntu/pool/main/z/zabbix-release/zabbix-release_latest_{{ zabbix.version }}+ubuntu24.04_all.deb
  tags: [zabbix-server, package, zabbix-frontend]

- name: Install packages
  ansible.builtin.apt:
    name:
      - zabbix-server-pgsql
      - zabbix-frontend-php
      - zabbix-apache-conf
      - zabbix-get
      - fonts-noto-cjk
      - mosquitto-clients
      - php-pgsql
    update_cache: true
  notify: Restart apache
  tags: [zabbix-server, package, zabbix-frontend]

- name: Create zabbix-server.service.d
  ansible.builtin.file:
    path: /etc/systemd/system/zabbix-server.service.d
    state: directory
  tags: [zabbix-server]

- name: Copy override.conf
  ansible.builtin.copy:
    src: override.conf
    dest: /etc/systemd/system/zabbix-server.service.d
  notify: Restart zabbix-server
  tags: [zabbix-server]

- name: Change permission of zabbix_server.conf
  ansible.builtin.file:
    path: /etc/zabbix/zabbix_server.conf
    owner: root
    group: zabbix
    mode: '0640'
  tags: [zabbix-server]

- name: Set DBHost
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_server.conf
    insertafter: "^# DBHost="
    regexp: "^DBHost="
    line: "DBHost={{ zabbix.db_host }}"
  notify: Restart zabbix-server
  tags: [zabbix-server]

- name: Set DBPassword
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_server.conf
    insertafter: "^# DBPassword="
    regexp: "^DBPassword="
    line: "DBPassword={{ zabbix.db_password }}"
  notify: Restart zabbix-server
  tags: [zabbix-server]

- name: Set Timeout
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_server.conf
    insertafter: "^# Timeout="
    regexp: "^Timeout="
    line: "Timeout=30"
  notify: Restart zabbix-server
  tags: [zabbix-server]

- name: Set MaxHousekeeperDelete
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_server.conf
    insertafter: "^# MaxHousekeeperDelete="
    regexp: "^MaxHousekeeperDelete="
    line: "MaxHousekeeperDelete=20000"
  notify: Restart zabbix-server
  tags: [zabbix-server]

- name: Set AllowUnsupportedDBVersions
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_server.conf
    insertafter: "^# AllowUnsupportedDBVersions="
    regexp: "^AllowUnsupportedDBVersions="
    line: "AllowUnsupportedDBVersions=1"
  notify: Restart zabbix-server
  tags: [zabbix-server]

- name: Enable zabbix.conf
  ansible.builtin.command: a2enconf zabbix
  notify: Reload apache
  tags: [zabbix-server, zabbix-frontend]

- name: Copy zaibbx-frontend conf
  ansible.builtin.template:
    src: zabbix.conf.php.j2
    dest: /etc/zabbix/web/zabbix.conf.php
    owner: www-data
    group: www-data
    mode: '0600'
  tags: [zabbix-server, zabbix-frontend]

- name: Change font for graphs
  ansible.builtin.file:
    src: /usr/share/fonts/opentype/noto/NotoSansCJK-Regular.ttc
    dest: /etc/alternatives/zabbix-frontend-font
    state: link
  tags: [zabbix-server, zabbix-frontend]

- name: Clone ssl-cert-check
  ansible.builtin.git:
    repo: https://github.com/Matty9191/ssl-cert-check.git
    dest: /srv/git/ssl-cert-check
  tags: [zabbix-server, zabbix-extra]

- name: Copy ssl-cert-check
  ansible.builtin.copy:
    src: /srv/git/ssl-cert-check/ssl-cert-check
    dest: /usr/local/bin
    mode: '0755'
    remote_src: true
  tags: [zabbix-server, zabbix-extra]

- name: Copy to externalscripts
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /usr/lib/zabbix/externalscripts
    mode: '0755'
  loop:
    - cloudwatch.sh
    - ssl-cert-check.sh
  tags: [zabbix-server, zabbix-extra]
