---
- name: "zabbix-server: Install zabbix-release package"
  ansible.builtin.apt:
    deb: https://repo.zabbix.com/zabbix/{{ zabbix.version }}/release/ubuntu/pool/main/z/zabbix-release/zabbix-release_latest_{{ zabbix.version }}+ubuntu24.04_all.deb
  tags: [zabbix-server, install, zabbix-frontend]

- name: "zabbix-server: Install packages"
  ansible.builtin.apt:
    name:
      - zabbix-server-pgsql
      - zabbix-frontend-php
      - zabbix-apache-conf
      - zabbix-get
      - fonts-noto-cjk
      - mosquitto-clients
      - php-pgsql
    update_cache: true
  notify: "apache: Restart"
  tags: [zabbix-server, install, zabbix-frontend]

- name: "zabbix-server: Create systemd override directory"
  ansible.builtin.file:
    path: /etc/systemd/system/zabbix-server.service.d
    state: directory
  tags: [zabbix-server, init]

- name: "zabbix-server: Copy systemd override config"
  ansible.builtin.copy:
    src: override.conf
    dest: /etc/systemd/system/zabbix-server.service.d
  notify: "zabbix-server: Restart"
  tags: [zabbix-server, config]

- name: "zabbix-server: Set config file permissions"
  ansible.builtin.file:
    path: /etc/zabbix/zabbix_server.conf
    owner: root
    group: zabbix
    mode: '0640'
  tags: [zabbix-server, config]

- name: "zabbix-server: Set DBHost"
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_server.conf
    insertafter: "^# DBHost="
    regexp: "^DBHost="
    line: "DBHost={{ zabbix.db_host }}"
  notify: "zabbix-server: Restart"
  tags: [zabbix-server, config]

- name: "zabbix-server: Set DBPassword"
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_server.conf
    insertafter: "^# DBPassword="
    regexp: "^DBPassword="
    line: "DBPassword={{ zabbix.db_password }}"
  notify: "zabbix-server: Restart"
  tags: [zabbix-server, config]

- name: "zabbix-server: Set Timeout"
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_server.conf
    insertafter: "^# Timeout="
    regexp: "^Timeout="
    line: "Timeout=30"
  notify: "zabbix-server: Restart"
  tags: [zabbix-server, config]

- name: "zabbix-server: Set MaxHousekeeperDelete"
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_server.conf
    insertafter: "^# MaxHousekeeperDelete="
    regexp: "^MaxHousekeeperDelete="
    line: "MaxHousekeeperDelete=20000"
  notify: "zabbix-server: Restart"
  tags: [zabbix-server, config]

- name: "zabbix-server: Set AllowUnsupportedDBVersions"
  ansible.builtin.lineinfile:
    dest: /etc/zabbix/zabbix_server.conf
    insertafter: "^# AllowUnsupportedDBVersions="
    regexp: "^AllowUnsupportedDBVersions="
    line: "AllowUnsupportedDBVersions=1"
  notify: "zabbix-server: Restart"
  tags: [zabbix-server, config]

- name: "zabbix-frontend: Enable Apache config"
  ansible.builtin.command: a2enconf zabbix
  notify: "apache: Reload"
  tags: [zabbix-server, config, zabbix-frontend]

- name: "zabbix-frontend: Copy PHP config"
  ansible.builtin.template:
    src: zabbix.conf.php.j2
    dest: /etc/zabbix/web/zabbix.conf.php
    owner: www-data
    group: www-data
    mode: '0600'
  tags: [zabbix-server, config, zabbix-frontend]

- name: "zabbix-frontend: Set Japanese font for graphs"
  ansible.builtin.file:
    src: /usr/share/fonts/opentype/noto/NotoSansCJK-Regular.ttc
    dest: /etc/alternatives/zabbix-frontend-font
    state: link
  tags: [zabbix-server, config, zabbix-frontend]

- name: "zabbix-server: Clone ssl-cert-check repository"
  ansible.builtin.git:
    repo: https://github.com/Matty9191/ssl-cert-check.git
    dest: /srv/git/ssl-cert-check
  tags: [zabbix-server, install, zabbix-extra]

- name: "zabbix-server: Copy ssl-cert-check script"
  ansible.builtin.copy:
    src: /srv/git/ssl-cert-check/ssl-cert-check
    dest: /usr/local/bin
    mode: '0755'
    remote_src: true
  tags: [zabbix-server, config, zabbix-extra]

- name: "zabbix-server: Copy external scripts"
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /usr/lib/zabbix/externalscripts
    mode: '0755'
  loop:
    - cloudwatch.sh
    - ssl-cert-check.sh
  tags: [zabbix-server, config, zabbix-extra]
