[Unit]
Description=Sync Home Assistant configuration from fox (every minute)

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=10s
Unit=homeassistant-sync.service

[Install]
WantedBy=timers.target
