log file = /var/log/rsyncd.log
pid file = /var/run/rsyncd.pid
read only = false

[mailman-etc]
path = /srv/mailman/etc
uid = mailman
gid = mailman

[mailman-var]
path = /srv/mailman/var
uid = mailman
gid = mailman

{% for user in users %}
[mail-{{user}}]
path = /srv/mail/{{user}}
uid = {{user}}
gid = {{user}}

{% endfor %}
