---
- name: "package : Install packages by homebrew"
  community.general.homebrew:
    name: 
      - vips
    update_homebrew: true
  tags:
    - darwin
    - darwin_personal
    - install
    - package
    - darwin_package
    - darwin_package_install

- name: "package : Install packages by homebrew_cask"
  community.general.homebrew_cask:
    name: 
      - charles
      - deepl
      - epic-games
      - gog-galaxy
      - kiro
      - kiro-cli
      - origin
      - microsoft-office
      - raspberry-pi-imager
      - sony-ps-remote-play
      - steam
      - steelseries-gg
      - ticktick
    update_homebrew: true
    ignore_errors: true
  tags:
    - darwin
    - darwin_personal
    - install
    - package
    - darwin_package
    - darwin_package_install

- name: "claude: Install Claude Code"
  ansible.builtin.shell: curl -fsSL https://claude.ai/install.sh | bash
  args:
    creates: ~/.local/bin/claude
  tags:
    - darwin
    - install
    - claude
    - darwin_claude
    - darwin_claude_install

# - name: "package : Install rest of the apps"
#   install_yourself:
#     - https://adblink.me/download/                                  # adbLink
#     - https://www.houdah.com/houdahGPS/download.html                # HoudahGPS
#     - https://www.benq.com/ja-jp/support/downloads-faq/products/monitor/sw271/software-driver.html # Palette Master Element
#     - http://www2.securebrain.co.jp/products/phishwall/smbc_direct.html # PhishWall
