---
- name: "package : Install packages by homebrew_cask"
  community.general.homebrew_cask:
    name: 
      - charles
      - deepl
      - epic-games
      - gemini-cli
      - gog-galaxy
      - kiro
      - kiro-cli
      - origin
      - microsoft-office
      - raspberry-pi-imager
      - sony-ps-remote-play
      - steam
      - steelseries-gg
      - ticktick
    update_homebrew: true
  tags:
    - darwin
    - darwin_personal
    - install
    - package
    - darwin_package
    - darwin_package_install

- name: "qwen : Install qwen"
  ansible.builtin.command: npm install -g @qwen-code/qwen-code@latest
  tags:
    - darwin
    - darwin_personal
    - install
    - qwen
    - darwin_qwen
    - darwin_qwen_install

# - name: "package : Install rest of the apps"
#   install_yourself:
#     - https://adblink.me/download/                                  # adbLink
#     - https://www.houdah.com/houdahGPS/download.html                # HoudahGPS
#     - https://www.benq.com/ja-jp/support/downloads-faq/products/monitor/sw271/software-driver.html # Palette Master Element
#     - http://www2.securebrain.co.jp/products/phishwall/smbc_direct.html # PhishWall
