---
- name: "docker : Install packages"
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-compose-v2
      - python3-docker
  tags:
    - docker
    - install
    - docker_docker
    - docker_docker_install

- name: "docker : Create compose.yml"
  ansible.builtin.file:
    path: /etc/compose.yml
    state: touch
  tags:
    - docker
    - init
    - docker_docker
    - docker_docker_init

- name: "docker : Add services section to compose.yml"
  ansible.builtin.lineinfile:
    path: /etc/compose.yml
    insertbefore: BOF
    regexp: '^services:'
    line: 'services:'
  tags:
    - docker
    - init
    - docker_docker
    - docker_docker_init
    - docker_docker_config
