---
- name: "docker : Install packages"
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-compose-v2
      - python3-docker
  tags: [docker, install]

- name: "docker : Create compose.yml"
  ansible.builtin.file:
    path: /etc/compose.yml
    state: touch
  tags: [docker, init]

- name: "docker : Add services section to compose.yml"
  ansible.builtin.lineinfile:
    path: /etc/compose.yml
    insertbefore: BOF
    regexp: '^services:'
    line: 'services:'
  tags: [docker, init]
