---
- name: Install additional packages
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-compose-v2
      - python3-docker
  tags: [docker, package]

- name: Create a compose.yml
  ansible.builtin.file:
    path: /etc/compose.yml
    state: touch
  tags: [docker]

- name: Add service
  ansible.builtin.lineinfile:
    path: /etc/compose.yml
    insertbefore: BOF
    regexp: '^services:'
    line: 'services:'
  tags: [docker]
