#!/usr/bin/env bash

trap 'exit 1' 1 2 3 15

# }}}
# {{{ send_co2()

send_co2() {
    co2=$(python3 -m mh_z19 --pwm | sed s/\'/\"/g | jq -r .co2)

    retval=$?

    if [ "$co2" != "null" ]; then
        mosquitto_pub -r -t mhz19/state \
            -u pub_client -P [% mosquitto_password %] \
            -h hass.rewse.jp -p 8883 \
            --cafile /etc/ssl/certs/ISRG_Root_X1.pem \
            -m online
    else
        mosquitto_pub -r -t mhz19/state \
            -u pub_client -P [% mosquitto_password %] \
            -h hass.rewse.jp -p 8883 \
            --cafile /etc/ssl/certs/ISRG_Root_X1.pem \
            -m offline

        exit $retval
    fi

    datetime=$(date --iso-8601=seconds)

    json=$(cat <<!
{
    "datetime": "$datetime",
    "co2": $co2
}
!
)

    mosquitto_pub -r -t mhz19/co2 \
        -u pub_client -P [% mosquitto_password %] \
        -h hass.rewse.jp -p 8883 \
        --cafile /etc/ssl/certs/ISRG_Root_X1.pem \
        -m "$json"

    retval=$?
}

# }}}
# {{{ Main

send_co2

exit $retval

# }}}
