---
- name: "apache: Reload"
  ansible.builtin.systemd:
    name: apache2
    state: reloaded

- name: "apache: Restart"
  ansible.builtin.systemd:
    name: apache2
    state: restarted

- name: "open-webui: Restart"
  community.docker.docker_compose_v2:
    project_src: /etc
    services:
      - open-webui
    state: restarted
