- id: automation.alarm_akikos_iphone12mini_wifi_might_be_off
  alias: "ALARM: akikos_iphone12mini WiFi might be Off"
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: state
      entity_id: device_tracker.ping_akikos_iphone12mini
      state: not_home
      for:
        hours: 1
    - condition: state
      entity_id: device_tracker.monitor_akikos_iphone12mini
      state: home
      for:
        hours: 1
  action:
    - service: notify.akiko_devices
      data:
        title: "⚠️ ALARM"
        message: akikos_iphone12mini WiFi might be off
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.alarm_amazonplug_bed_is_offline
  alias: "ALARM: amazonplug-bed is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.amazonplug_bed
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: amazonplug-bed is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_amazonplug_liv_is_offline
  alias: "ALARM: amazonplug-liv is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.amazonplug_liv
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: amazonplug-liv is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_amazonplug_sto_is_offline
  alias: "ALARM: amazonplug-sto is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.amazonplug_sto
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: amazonplug-sto is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_aventage_is_offline
  alias: "ALARM: aventage is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.aventage
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: aventage is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_balcony_humidity_difference_is_too_large
  alias: "ALARM: Balcony Humidity Difference is Too Large"
  trigger:
    - platform: state
      entity_id: sensor.balcony_switchbot_meter_temperature
      attribute: humidity
  condition:
    - condition: numeric_state
      entity_id: sensor.average_of_balcony_humidity_difference
      attribute: min_value
      above: 10
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️Balcony Humidity Difference is Too Large
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_balcony_temperature_difference_is_too_large
  alias: "ALARM: Balcony Temperature Difference is Too Large"
  trigger:
    - platform: state
      entity_id: sensor.balcony_switchbot_meter_temperature
  condition:
    - condition: numeric_state
      entity_id: sensor.average_of_balcony_temperature_difference
      attribute: min_value
      above: 1
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: Balcony Temperature Difference is Too Large
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_bedroom_humidity_difference_is_too_large
  alias: "ALARM: Bedroom Humidity Difference is Too Large"
  trigger:
    - platform: state
      entity_id: sensor.bedroom_switchbot_meter_temperature
      attribute: humidity
  condition:
    - condition: numeric_state
      entity_id: sensor.average_of_bedroom_humidity_difference
      attribute: min_value
      above: 10
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️Bedroom Humidity Difference is Too Large
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_bedroom_temperature_difference_is_too_large
  alias: "ALARM: Bedroom Temperature Difference is Too Large"
  trigger:
    - platform: state
      entity_id: sensor.bedroom_switchbot_meter_temperature
  condition:
    - condition: numeric_state
      entity_id: sensor.average_of_bedroom_temperature_difference
      attribute: min_value
      above: 1
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️Bedroom Temperature Difference is Too Large
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_bio_wifi_might_be_off
  alias: "ALARM: bio WiFi might be Off"
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: state
      entity_id: device_tracker.ping_bio
      state: not_home
      for:
        hours: 1
    - condition: state
      entity_id: device_tracker.monitor_bio
      state: home
      for:
        hours: 1
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: bio WiFi might be off
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.alarm_catloghome_bed_is_offline
  alias: "ALARM: catloghome-bed is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.catloghome_bed
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️catloghome-bed is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_catloghome_liv_is_offline
  alias: "ALARM: catloghome-liv is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.catloghome_liv
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: catloghome-liv is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_catloghome_sto_is_offline
  alias: "ALARM: catloghome-sto is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.catloghome_sto
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: catloghome-sto is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_daikinhvac_is_offline
  alias: "ALARM: daikinhvac is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.daikinhvac
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: daikinhvac is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_fox_is_offline
  alias: "ALARM: fox is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.fox
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: fox is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_guppy_is_offline
  alias: "ALARM: guppy is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.guppy
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: guppy is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_hotel_is_offline
  alias: "ALARM: hotel is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.hotel
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: hotel is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_huebridge_is_offline
  alias: "ALARM: huebridge is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.huebridge
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: huebridge is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_internet_speed_is_too_slow
  alias: "ALARM: Internet Speed is Too Slow"
  trigger:
    - platform: numeric_state
      entity_id: sensor.fast_com_download
      below: 1
  condition:
    - condition: numeric_state
      entity_id: sensor.speedtest_download
      below: 1
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: Internet Speed is Too Slow
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
    - service: script.restart_zulu
  mode: single
- id: automation.alarm_jq300_is_offline
  alias: "ALARM: jq300 is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.jq300
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️jq300 is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_justio_is_offline
  alias: "ALARM: justio is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.justio
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️justio is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_kasaplug_ent_is_offline
  alias: "ALARM: kasaplug-ent is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.kasaplug_ent
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️kasaplug-ent is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_kasaplug_liv_is_offline
  alias: "ALARM: kasaplug-liv is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.kasaplug_liv
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️kasaplug-liv is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_kitchen_rice_cooker_is_keeping_warm
  alias: "ALARM: Kitchen Rice Cooker is keeping warm"
  trigger:
    - platform: time
      at: "21:00"
    - platform: time
      at: "21:30"
    - platform: time
      at: "22:00"
    - platform: time
      at: "22:30"
  condition:
    - condition: numeric_state
      entity_id: sensor.kitchen_rice_cooker_plug_power
      above: 40
  action:
    - service: notify.all_devices
      data:
        title: "⚠️ ALARM"
        message: ️Rice Cooker is Keeping Warm
        data:
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_living_room_co2_is_too_high
  alias: "ALARM: Living Room CO2 is Too High"
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_co2
      above: 1000
    - condition: state
      entity_id: binary_sensor.living_room_window
      state: "off"
    - condition: state
      entity_id: binary_sensor.study_window_n
      state: "off"
    - condition: state
      entity_id: binary_sensor.study_window_s
      state: "off"
  action:
    - service: notify.all_devices
      data:
        title: "⚠️ ALARM"
        message: "Living Room CO2 is too high. Current: {{ states('sensor.living_room_co2') }}ppm"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.alarm_living_room_humidity_difference_is_too_large
  alias: "ALARM: Living Room Humidity Difference is Too Large"
  trigger:
    - platform: state
      entity_id: sensor.living_room_switchbot_meter_temperature
      attribute: humidity
  condition:
    - condition: numeric_state
      entity_id: sensor.average_of_living_room_humidity_difference
      attribute: min_value
      above: 10
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: Living Room Humidity Difference is Too Large
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_living_room_temperature_difference_is_too_large
  alias: "ALARM: Living Room Temperature Difference is Too Large"
  trigger:
    - platform: state
      entity_id: sensor.living_room_switchbot_meter_temperature
  condition:
    - condition: numeric_state
      entity_id: sensor.average_of_living_room_temperature_difference
      attribute: min_value
      above: 1
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: Living Room Temperature Difference is Too Large
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_papa_is_offline
  alias: "ALARM: papa is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.papa
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: papa is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_regza_is_offline
  alias: "ALARM: regza is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.regza
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: regza is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_remo_bed_is_offline
  alias: "ALARM: remo-bed is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.remo_bed
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️remo-bed is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_remo_liv_is_offline
  alias: "ALARM: remo-liv is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.remo_liv
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: remo-liv is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_romeo_is_offline
  alias: "ALARM: romeo is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.romeo
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: romeo is offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_sesamemodule_is_offline
  alias: "ALARM: sesamemodule is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.sesamemodule
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: sesamemodule is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_switchbothub_is_offline
  alias: "ALARM: switchbothub is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.switchbothub
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️switchbothub is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_tango_is_offline
  alias: "ALARM: tango is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.tango
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: tango is offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_tuyaplug_bat_is_offline
  alias: "ALARM: tuyaplug-bat is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.tuyaplug_bat
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️tuyaplug-bat is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_tuyaplug_bed_is_offline
  alias: "ALARM: tuyaplug-bed is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.tuyaplug_bed
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️tuyaplug-bed is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_tuyaplug_kit_is_offline
  alias: "ALARM: tuyaplug-kit is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.tuyaplug_kit
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️tuyaplug-kit is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_tuyaplug_liv_is_offline
  alias: "ALARM: tuyaplug-liv is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.tuyaplug_liv
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️tuyaplug-liv is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_wfirex_is_offline
  alias: "ALARM: wfirex is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.wfirex
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️wfirex is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_xiaomigateway_is_offline
  alias: "ALARM: xiaomigateway is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.xiaomigateway
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: ️xiaomigateway is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_xray_liv_is_offline
  alias: "ALARM: xray-liv is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.xray_liv
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: xray-liv is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_xray_sto_is_offline
  alias: "ALARM: xray-sto is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.xray_sto
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: xray-sto is Offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.alarm_zulu_is_offline
  alias: "ALARM: zulu is Offline"
  trigger:
    - platform: state
      entity_id: binary_sensor.zulu
      to: "off"
      for:
        minutes: 31
  action:
    - service: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: zulu is offline
        data:
          url: /lovelace-machines/machines
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.auto_lock_entrance_lock_bottom_in_daytime
  alias: Auto-Lock Entrnace Lock Bottom in Daytime
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 5
  condition:
    - condition: state
      entity_id: lock.entrance_lock_bottom
      state: unlocked
      for:
        minutes: 30
    - condition: time
      after: "9:00"
      before: "21:00"
    - condition: state
      entity_id: alarm_control_panel.entrance_auto_lock
      state: armed_home
    - condition: state
      entity_id: binary_sensor.entrance_door
      state: "off"
      for:
        minutes: 30
  action:
    - service: script.lock_and_get_state_of_entrance_lock_bottom
- id: automation.auto_lock_entrance_lock_bottom_in_nighttime
  alias: Auto-Lock Entrance Lock Bottom in Nighttime
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 21
  condition:
    - condition: state
      entity_id: lock.entrance_lock_bottom
      state: unlocked
      for:
        minutes: 10
    - condition: time
      after: "21:00"
      before: "9:00"
    - condition: state
      entity_id: alarm_control_panel.entrance_auto_lock
      state: armed_home
    - condition: state
      entity_id: binary_sensor.entrance_door
      state: "off"
      for:
        minutes: 10
  action:
    - service: script.lock_and_get_state_of_entrance_lock_bottom
- id: automation.auto_lock_entrance_lock_top_in_daytime
  alias: Auto-Lock Entrance Lock Top in Daytime
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 5
  condition:
    - condition: state
      entity_id: lock.entrance_lock_top
      state: unlocked
      for:
        minutes: 30
    - condition: time
      after: "9:00"
      before: "21:00"
    - condition: state
      entity_id: alarm_control_panel.entrance_auto_lock
      state: armed_home
    - condition: state
      entity_id: binary_sensor.entrance_door
      state: "off"
      for:
        minutes: 30
  action:
    - service: script.lock_and_get_state_of_entrance_lock_top
- id: automation.auto_lock_entrance_lock_top_in_nighttime
  alias: Auto-Lock Entrance Lock Top in Nighttime
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 21
  condition:
    - condition: state
      entity_id: lock.entrance_lock_top
      state: unlocked
      for:
        minutes: 10
    - condition: time
      after: "21:00"
      before: "9:00"
    - condition: state
      entity_id: alarm_control_panel.entrance_auto_lock
      state: armed_home
    - condition: state
      entity_id: binary_sensor.entrance_door
      state: "off"
      for:
        minutes: 10
  action:
    - service: script.lock_and_get_state_of_entrance_lock_top
- id: automation.info_bathroom_washing_machine_has_been_finished
  alias: "INFO: Bathroom Washing Machine Has Been Finished"
  trigger:
    - platform: numeric_state
      entity_id: sensor.bathroom_washing_machine_plug_power
      below: 80
      for:
        minutes: 5
  condition:
    - condition: numeric_state
      entity_id: sensor.unavailable_of_bathroom_washing_machine_plug_power
      below: 0.1
    - condition: numeric_state
      entity_id: sensor.average_of_bathroom_washing_machine_plug_power
      above: 50
  action:
    - service: notify.notify
      data:
        message: Washing machine has been finished
        data:
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.info_bedroom_humidity_is_too_high
  alias: "INFO: Bedroom Humidity is Too High"
  trigger:
    - platform: state
      entity_id: binary_sensor.bedroom_motion_n
      to: "on"
    - platform: state
      entity_id: binary_sensor.bedroom_motion_s
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.bedroom_humidity
      above: input_number.bedroom_hvac_dry_turned_on_threshold_humidity
    - condition: numeric_state
      entity_id: sensor.bedroom_wbgt
      above: input_number.bedroom_hvac_dry_turned_on_threshold_wbgt
    - condition: state
      entity_id: sun.sun
      state: above_horizon
    - condition: state
      entity_id: binary_sensor.workday_sensor
      state: "on"
    - condition: or
      conditions:
        - condition: state
          entity_id: binary_sensor.bedroom_window_n
          state: "on"
          for:
            minutes: 30
        - condition: state
          entity_id: binary_sensor.bedroom_window_s
          state: "on"
          for:
            minutes: 30
    - condition: state
      entity_id: binary_sensor.bedroom_presence
      state: "on"
  action:
    - service: notify.all_devices
      data:
        message: "Bedroom Humidity is Too High. Current: {{ states('sensor.bedroom_humidity') }}%"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 2
  mode: single
- id: automation.info_bedroom_humidity_is_too_low
  alias: "INFO: Bedroom Humidity is Too Low"
  trigger:
    - platform: state
      entity_id: binary_sensor.bedroom_motion_n
      to: "on"
    - platform: state
      entity_id: binary_sensor.bedroom_motion_s
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.bedroom_humidity
      below: input_number.bedroom_humidifier_turned_on_threshold
    - condition: sun
      after: sunrise
    - condition: state
      entity_id: binary_sensor.bedroom_presence
      state: "on"
  action:
    - service: notify.all_devices
      data:
        message: "Bedroom Humidity is Too Low. Current: {{ states('sensor.bedroom_humidity') }}%"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 2
  mode: single
- id: automation.info_bedroom_wbgt_is_too_high
  alias: "INFO: Bedroom WBGT is Too High"
  trigger:
    - platform: state
      entity_id: binary_sensor.bedroom_motion_n
      to: "on"
    - platform: state
      entity_id: binary_sensor.bedroom_motion_s
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.bedroom_wbgt
      above: input_number.bedroom_hvac_cool_turned_on_threshold
    - condition: state
      entity_id: sun.sun
      state: above_horizon
    - condition: state
      entity_id: binary_sensor.workday_sensor
      state: "on"
    - condition: or
      conditions:
        - condition: state
          entity_id: binary_sensor.bedroom_window_n
          state: "on"
          for:
            minutes: 30
        - condition: state
          entity_id: binary_sensor.bedroom_window_s
          state: "on"
          for:
            minutes: 30
    - condition: state
      entity_id: binary_sensor.bedroom_presence
      state: "on"
  action:
    - service: notify.all_devices
      data:
        message: "Bedroom WBGT is Too High. Current: {{ states('sensor.bedroom_wbgt') }}°C"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 2
  mode: single
- id: automation.info_entrance_auto_lock_is_off
  alias: "INFO: Entrance Auto-Lock is Off"
  trigger:
    - platform: time_pattern
      hours: "/2"
      minutes: 48
      seconds: 13
  condition:
    - condition: state
      entity_id: alarm_control_panel.entrance_auto_lock
      state: disarmed
      for:
        hours: 2
  action:
    - service: notify.tats_devices
      data:
        message: "Entrance Auto-Lock is Off"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
- id: automation.info_denshobato
  alias: "INFO: Denshobato"
  trigger:
    - platform: state
      entity_id: sensor.denshobato
  condition:
    - condition: template
      value_template: >-
        {{ (as_timestamp(now()) -
        as_timestamp(states('sensor.denshobato_received_date_time'))) < 180 }}
  action:
    - service: notify.all_devices
      data:
        title: "[% notify_title_k %]"
        message: "️{{ states('sensor.denshobato_time') }}に{{ states('sensor.denshobato_action') }}しました"
        data:
          push:
            interruption-level: time-sensitive
    - condition: state
      entity_id: sensor.denshobato_action
      state: 下校
    - condition: or
      conditions:
      - condition: state
        entity_id: person.shibata_tats
        state: home
      - condition: state
        entity_id: person.shibata_akiko
        state: home
    - delay:
        minutes: 5
    - service: lock.unlock
      target:
        entity_id: lock.entrance_locks
    - service: alarm_control_panel.alarm_disarm
      target:
        entity_id: alarm_control_panel.entrance_auto_lock
  mode: single
- id: automation.info_living_room_humidity_is_too_high
  alias: "INFO: Living Room Humidity is Too High"
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_humidity
      above: input_number.living_room_hvac_dry_turned_on_threshold_humidity
    - condition: numeric_state
      entity_id: sensor.living_room_wbgt
      above: input_number.living_room_hvac_dry_turned_on_threshold_wbgt
    - condition: numeric_state
      entity_id: sensor.living_room_wbgt
      below: input_number.living_room_hvac_cool_turned_on_threshold
    - condition: or
      conditions:
        - condition: state
          entity_id: binary_sensor.living_room_window
          state: "on"
          for:
            minutes: 30
        - condition: state
          entity_id: binary_sensor.study_window_n
          state: "on"
          for:
            minutes: 30
        - condition: state
          entity_id: binary_sensor.study_window_s
          state: "on"
          for:
            minutes: 30
    - condition: state
      entity_id: binary_sensor.living_room_presence
      state: "on"
  action:
    - service: notify.all_devices
      data:
        message: "Living Room Humidity is Too High. Current: {{ states('sensor.living_room_humidity') }}%"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 2
  mode: single
- id: automation.info_living_room_humidity_is_too_low
  alias: "INFO: Living Room Humidity is Too Low"
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_humidity
      below: input_number.living_room_humidifier_turned_on_threshold
    - condition: state
      entity_id: switch.living_room_humidifier
      state: "off"
    - condition: sun
      after: sunrise
    - condition: or
      conditions:
        - condition: state
          entity_id: binary_sensor.living_room_window
          state: "on"
          for:
            minutes: 30
        - condition: state
          entity_id: binary_sensor.study_window_n
          state: "on"
          for:
            minutes: 30
        - condition: state
          entity_id: binary_sensor.study_window_s
          state: "on"
          for:
            minutes: 30
    - condition: state
      entity_id: binary_sensor.living_room_presence
      state: "on"
  action:
    - service: notify.all_devices
      data:
        message: "Living Room Humidity is Too Low. Current: {{ states('sensor.living_room_humidity') }}%"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 2
  mode: single
- id: automation.info_living_room_wbgt_is_too_high
  alias: "INFO: Living Room WBGT is Too High"
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_wbgt
      above: input_number.living_room_hvac_cool_turned_on_threshold
    - condition: or
      conditions:
      - condition: state
        entity_id: binary_sensor.living_room_window
        state: "on"
        for:
          minutes: 30
      - condition: state
        entity_id: binary_sensor.study_window_n
        state: "on"
        for:
          minutes: 30
      - condition: state
        entity_id: binary_sensor.study_window_s
        state: "on"
        for:
          minutes: 30
    - condition: state
      entity_id: binary_sensor.living_room_presence
      state: "on"
  action:
    - service: notify.all_devices
      data:
        message: "Living Room WBGT is Too High. Current: {{ states('sensor.living_room_wbgt') }}°C"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 2
  mode: single
- id: automation.info_mamorail
  alias: "INFO: Mamorail"
  trigger:
    - platform: state
      entity_id: sensor.mamorail
  condition:
    - condition: template
      value_template: >-
        {{ (as_timestamp(now()) -
        as_timestamp(states('sensor.mamorail_received_date_time'))) < 180 }}
    - condition: numeric_state
      entity_id: sensor.mamorail_balance
      above: 1000
  action:
    - service: notify.all_devices
      data:
        title: "[% notify_title_k %]"
        message: "{{ states('sensor.mamorail_station') }}を{{ states('sensor.mamorail_time') }}に{{ states('sensor.mamorail_action') }}しました。残高: {{ states('sensor.mamorail_balance') }}円"
        data:
          url: /lovelace-people/people
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.info_mamorail_needed_to_charge
  alias: "INFO: Mamorail Needed to Charge"
  trigger:
    - platform: state
      entity_id: sensor.mamorail
  condition:
    - condition: template
      value_template: >-
        {{ (as_timestamp(now()) -
        as_timestamp(states('sensor.mamorail_received_date_time'))) < 180 }}
    - condition: numeric_state
      entity_id: sensor.mamorail_balance
      below: 999
  action:
    - service: notify.all_devices
      data:
        title: "[% notify_title_k %]"
        message: "️【要チャージ】{{ states('sensor.mamorail_station') }}を{{ states('sensor.mamorail_time') }}に{{ states('sensor.mamorail_action') }}しました。残高: {{ states('sensor.mamorail_balance') }}円"
        data:
          url: /lovelace-people/people
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.info_update_available
  alias: "INFO: Update Available"
  trigger:
    - platform: state
      entity_id: binary_sensor.updater
      from: "off"
      to: "on"
  action:
    - service: notify.tats_devices
      data:
        title: INFO
        message: "Home Assistant {{ state_attr('binary_sensor.updater', 'newest_version') }} is available."
        data:
          push:
            interruption-level: active
# Do not merge with automation.lock_entrance_top. Because 
# script.lock_and_get_state_of_entrance_lock_bottom waits 30 seconds.
- id: automation.lock_entrance_bottom
  alias: Lock Entrance Bottom
  trigger:
    - platform: state
      entity_id: sensor.entrance_1_button_switch_action
      to: double
    - platform: state
      entity_id: sensor.living_room_1_button_switch_action
      to: double
  action:
    - service: script.lock_and_get_state_of_entrance_lock_bottom
- id: automation.lock_entrance_top
  alias: Lock Entrance Top
  trigger:
    - platform: state
      entity_id: sensor.entrance_1_button_switch_action
      to: double
    - platform: state
      entity_id: sensor.living_room_1_button_switch_action
      to: double
  action:
    - service: script.lock_and_get_state_of_entrance_lock_top
- id: automation.open_bedroom_curtains_temporarily
  alias: Open Bedroom Curtains Temporarily
  description: Open the curtains in the bedroom temporarily
  trigger:
    - platform: time
      at: input_datetime.bedroom_curtains_opened_time
  action:
    - service: script.open_and_get_state_of_bedroom_curtains
  mode: single
- id: automation.open_bedroom_curtains_workday
  alias: Open Bedroom Curtains Workday
  description: Open the curtains in the bedroom every workday
  trigger:
    - platform: time
      at: input_datetime.bedroom_curtains_opened_time_workday
  condition:
    - condition: state
      entity_id: binary_sensor.workday_sensor
      state: "on"
  action:
    - service: script.open_and_get_state_of_bedroom_curtains
  mode: single
- id: automation.plan_to_turn_on_bedroom_hvac_cleaner
  alias: Plan to Turn on Bedrom HVAC Cleaner
  description: Plan to turn on the HVAC cleaner in the bedroom
  trigger:
    - platform: numeric_state
      entity_id: sensor.filtered_bedroom_hvac_plug_current
      above: 100
      for:
        hours: 2
  condition:
    - condition: state
      entity_id: binary_sensor.workday_sensor
      state: "on"
  action:
    - service: automation.turn_on
      target:
        entity_id:
          - automation.turn_on_bedroom_hvac_cleaner
  mode: single
- id: automation.plan_to_turn_on_living_room_hvac_fan
  alias: Plan to Turn on Living Room HVAC Fan
  description: Plan to turn on the HVAC in the living room with fan mode
  trigger:
    - platform: state
      entity_id: climate.living_room_hvac
      to: dry
      for:
        hours: 2
    - platform: state
      entity_id: climate.living_room_hvac
      to: cool
      for:
        hours: 2
    - platform: state
      entity_id: climate.living_room_hvac
      to: heat_cool
      for:
        hours: 2
  condition:
    - condition: state
      entity_id: alarm_control_panel.surveillance
      state: disarmed
  action:
    - service: automation.turn_on
      target:
        entity_id:
          - automation.turn_on_living_room_hvac_fan
          - automation.turn_off_living_room_hvac_fan
          - automation.turn_on_living_room_hvac_cleaner
  mode: single
- id: automation.trigger_monitor
  alias: Trigger monitor
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 33
  action:
    - service: mqtt.publish
      data:
        topic: monitor/scan/arrive
        payload: '{"identity": "automation.trigger_monitor"}'
        retain: true
    - service: mqtt.publish
      data:
        topic: monitor/scan/depart
        payload: '{"identity": "automation.trigger_monitor"}'
        retain: true
  mode: single
- id: automation.turn_down_bedroom
  alias: Turn down Bedroom
  description: Turn down the bedroom
  trigger:
    - platform: time
      at: input_datetime.bedroom_turned_down_time
  action:
    - service: script.close_and_get_state_of_bedroom_curtains
  mode: single
- id: automation.turn_down_living_area
  alias: Turn down Living Area
  description: Turn down the living area
  trigger:
    - platform: time
      at: input_datetime.living_area_turned_down_time
  action:
    - service: scene.turn_on
      entity_id: scene.living_area_turned_down
    - service: light.turn_on
      entity_id: light.living_area_dimming_downlights
  mode: single
- id: automation.turn_down_living_area_more
  alias: Turn down Living Area More
  description: Turn down the living area more
  trigger:
    - platform: time
      at: input_datetime.living_area_turned_down_more_time
  action:
    - service: scene.turn_on
      entity_id: scene.living_area_turned_down_more
    - service: light.turn_off
      entity_id: light.living_area_dimming_downlights
  mode: single
- id: automation.turn_off_bedroom_hvac
  alias: Turn off Bedroom HVAC
  description: Turn off the HVAC in the bedroom
  trigger:
    - platform: state
      entity_id: binary_sensor.bedroom_motion_n
      to: "on"
    - platform: state
      entity_id: binary_sensor.bedroom_motion_s
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.bedroom_wbgt
      below: input_number.bedroom_hvac_cool_turned_off_threshold
    - condition: numeric_state
      entity_id: sensor.bedroom_humidity
      below: input_number.bedroom_hvac_dry_turned_off_threshold
    - condition: numeric_state
      entity_id: sensor.filtered_bedroom_hvac_plug_current
      above: 100
  action:
    - service: climate.set_hvac_mode
      target:
        entity_id: climate.bedroom_hvac
      data:
        hvac_mode: "off"
    - service: notify.all_devices
      data:
        message: "Turned off Bedroom HVAC. Current: {{ states('sensor.bedroom_wbgt') }}°C, {{ states('sensor.bedroom_humidity') }}%"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_off_bedroom_light
  alias: Turn off Bedroom Light
  trigger:
    - platform: state
      entity_id: sensor.bedroom_1_button_switch_action
      to: double
  action:
    - service: light.turn_off
      target:
        entity_id: light.bedroom_light
- id: automation.turn_off_living_area_floor_heating
  alias: Turn off Living Area Floor Heating
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 11
  condition:
    - condition: state
      entity_id: group.living_area_floor_heatings
      state: "on"
    - condition: state
      entity_id: binary_sensor.living_room_presence
      state: "off"
      for:
        hours: 2
    - condition: time
      after: "00:00:00"
      before: "07:00:00"
  action:
    - service: switch.turn_off
      target:
        entity_id:
          - switch.living_room_floor_heating
          - switch.study_floor_heating
  mode: single
- id: automation.turn_off_living_area_lights
  alias: Turn off Living Area Lights
  description: Turn off the living area lights when iOS action fires
  trigger:
    - platform: event
      event_type: ios.action_fired
      event_data:
        actionName: turn_off_living_room_lights
  action:
    - service: light.turn_off
      target:
        entity_id: light.living_area_lights
    - service: notify.tats_devices
      data:
        message: Turned off Living Room Lights
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.turn_off_living_room_extra_lights
  alias: Turn off Living Room Extra Lights
  description: Turn off the extra lights in the living room
  trigger:
    - platform: sun
      event: sunrise
  action:
    - service: light.turn_off
      target:
        entity_id:
        - light.living_room_tv_light
        - light.living_room_entrance_light
        - light.living_room_footlight
  mode: single
- id: automation.turn_off_living_room_humidifier
  alias: Turn off Living Room Humidifier
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_humidity
      above: input_number.living_room_humidifier_turned_off_threshold
    - condition: state
      entity_id: switch.living_room_humidifier
      state: "on"
  action:
    - service: switch.turn_off
      entity_id: switch.living_room_humidifier
    - service: notify.all_devices
      data:
        message: "Turned off Living Room Humidifier. Current: {{ states('sensor.living_room_humidity') }}%"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_off_living_room_hvac
  alias: Turn off Living Room HVAC
  description: Turn off the HVAC in the living room
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_wbgt
      below: input_number.living_room_hvac_cool_turned_off_threshold
    - condition: numeric_state
      entity_id: sensor.living_room_humidity
      below: input_number.living_room_hvac_dry_turned_off_threshold
    - condition: or
      conditions:
        - condition: state
          entity_id: climate.living_room_hvac
          state: heat_cool
        - condition: state
          entity_id: climate.living_room_hvac
          state: cool
        - condition: state
          entity_id: climate.living_room_hvac
          state: dry
  action:
    - service: climate.set_hvac_mode
      target:
        entity_id: climate.living_room_hvac
      data:
        hvac_mode: "off"
    - service: notify.all_devices
      data:
        message: "Turned off Living Room HVAC. Current: {{ states('sensor.living_room_wbgt') }}°C, {{ states('sensor.living_room_humidity') }}%"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_off_living_room_hvac_fan
  alias: Turn off Living Room HVAC Fan
  description: Turn off the HVAC in the living room with fan mode
  trigger:
    - platform: time
      at: "5:30"
  condition:
    - condition: state
      entity_id: alarm_control_panel.surveillance
      state: disarmed
  action:
    - service: climate.turn_off
      target:
        entity_id: climate.living_room_hvac
    - service: notify.tats_devices
      data:
        message: Turned off Living Room HVAC Fan
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - service: automation.turn_off
      target:
        entity_id:
          - automation.turn_on_living_room_hvac_fan
          - automation.turn_off_living_room_hvac_fan
  mode: single
- id: automation.turn_off_living_room_lights_appliances
  alias: Turn off Living Room Lights & Appliances
  description: Turn off the living room lights & appliances when iOS action fires
  trigger:
    - platform: event
      event_type: ios.action_fired
      event_data:
        actionName: turn_off_living_room_lights_appliances
  action:
    - service: light.turn_off
      target:
        entity_id: light.living_area_lights
    - service: switch.turn_off
      target:
        entity_id:
          - switch.living_room_floor_heating
          - switch.study_floor_heating
          - switch.living_room_humidifier
    - service: climate.turn_off
      target:
        entity_id: climate.living_room_hvac
  mode: single
- id: automation.turn_off_monitor_akikos_iphone12mini
  alias: Turn off monitor akikos-iphone12mini
  trigger:
    - platform: numeric_state
      entity_id: sensor.monitor_akikos_iphone12mini
      below: 10
    - platform: time_pattern
      minutes: "/5"
      seconds: 53
  condition:
    - condition: numeric_state
      entity_id: sensor.monitor_akikos_iphone12mini
      below: 10
  action:
    - service: device_tracker.see
      data:
        dev_id: monitor_akikos_iphone12mini
        location_name: not_home
        source_type: bluetooth
- id: automation.turn_off_monitor_bio
  alias: Turn off monitor bio
  trigger:
    - platform: numeric_state
      entity_id: sensor.monitor_bio
      below: 10
    - platform: time_pattern
      minutes: "/5"
      seconds: 53
  condition:
    - condition: numeric_state
      entity_id: sensor.monitor_bio
      below: 10
  action:
    - service: device_tracker.see
      data:
        dev_id: monitor_bio
        location_name: not_home
        source_type: bluetooth
- id: automation.turn_off_surveillance
  alias: Turn off Surveillance
  description: Turn off Surveillance when someone is at home
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.bathroom_motion
      to: "on"
  condition:
    - condition: state
      entity_id: alarm_control_panel.surveillance
      state: armed_away
      for:
        minutes: 20
    - condition: or
      conditions:
        - condition: state
          entity_id: person.shibata_tats
          state: home
        - condition: state
          entity_id: person.shibata_akiko
          state: home
  action:
    - service: alarm_control_panel.alarm_disarm
      target:
        entity_id: alarm_control_panel.surveillance
    - service: notify.all_devices
      data:
        message: Turned off surveillance
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_on_bedroom_hvac_cleaner
  alias: Turn on Bedroom HVAC Cleaner
  description: Turn on the HVAC cleaner in the bedroom
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 37
  condition:
    - condition: state
      entity_id: binary_sensor.workday_sensor
      state: 'off'
    - condition: time
      after: "16:00"
      before: "20:00"
    - condition: state
      entity_id: binary_sensor.bedroom_presence
      state: "off"
  action:
    - service: switch.turn_on
      target:
        entity_id: switch.bedroom_hvac_cleaner
    - service: notify.all_devices
      data:
        message: Turned on Bedroom HVAC Cleaner
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 2
    - service: automation.turn_off
      target:
        entity_id: automation.turn_on_bedroom_hvac_cleaner
  mode: single
- id: automation.turn_on_bedroom_hvac_cool
  alias: Turn on Bedroom HVAC Cool
  description: Turn on the HVAC in the bedroom with cool mode
  trigger:
    - platform: state
      entity_id: binary_sensor.bedroom_motion_n
      to: "on"
    - platform: state
      entity_id: binary_sensor.bedroom_motion_s
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.bedroom_wbgt
      above: input_number.bedroom_hvac_cool_turned_on_threshold
    - condition: state
      entity_id: binary_sensor.bedroom_window_n
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.bedroom_window_s
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.bedroom_presence
      state: "on"
  action:
    - service: climate.set_hvac_mode
      target:
        entity_id: climate.bedroom_hvac
      data:
        hvac_mode: cool
    - service: notify.all_devices
      data:
        message: "Turned on Bedroom HVAC Cool. Current: {{ states('sensor.bedroom_wbgt') }}°C"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_on_bedroom_hvac_cool_forcibly
  alias: Turn on Bedroom HVAC Cool Forcibly
  description: Turn on the HVAC in the bedroom with cool mode forcibly
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 46
  condition:
    - condition: numeric_state
      entity_id: sensor.bedroom_wbgt
      above: input_number.bedroom_hvac_cool_forcibly_turned_on_threshold
    - condition: state
      entity_id: binary_sensor.bedroom_window_n
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.bedroom_window_s
      state: "off"
      for:
        minutes: 30
  action:
    - service: climate.set_hvac_mode
      target:
        entity_id: climate.bedroom_hvac
      data:
        hvac_mode: cool
    - service: notify.all_devices
      data:
        message: "Turned on Bedroom HVAC Cool Forcibly. Current: {{ states('sensor.bedroom_wbgt') }}°C"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_on_bedroom_hvac_dry
  alias: Turn on Bedroom HVAC Dry
  description: Turn on the HVAC in the bedroom with dry mode
  trigger:
    - platform: state
      entity_id: binary_sensor.bedroom_motion_n
      to: "on"
    - platform: state
      entity_id: binary_sensor.bedroom_motion_s
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.bedroom_humidity
      above: input_number.bedroom_hvac_dry_turned_on_threshold_humidity
    - condition: numeric_state
      entity_id: sensor.bedroom_wbgt
      above: input_number.bedroom_hvac_dry_turned_on_threshold_wbgt
    - condition: numeric_state
      entity_id: sensor.filtered_bedroom_hvac_plug_current
      below: 100
    - condition: state
      entity_id: binary_sensor.bedroom_window_n
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.bedroom_window_s
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.bedroom_presence
      state: "on"
  action:
    - service: climate.set_hvac_mode
      target:
        entity_id: climate.bedroom_hvac
      data:
        hvac_mode: dry
    - service: notify.all_devices
      data:
        message: "Turned on Bedroom HVAC Dry. Current: {{ states('sensor.bedroom_humidity') }}%"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_on_bedroom_light
  alias: Turn on Bedroom Light
  trigger:
    - platform: state
      entity_id: sensor.bedroom_1_button_switch_action
      to: single
  action:
    - service: light.turn_on
      target:
        entity_id: light.bedroom_light
- id: automation.trun_on_entrance_auto_lock
  alias: Turn on Entrance Auto-Lock
  trigger:
    - platform: state
      entity_id: binary_sensor.entrance_door
  action:
    - service: alarm_control_panel.alarm_arm_home
      target:
        entity_id: alarm_control_panel.entrance_auto_lock
  mode: single
- id: automation.turn_on_living_area_downlights
  alias: Turn on Living Area Downlights
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
    - platform: sun
      event: sunset
      offset:
        hours: 1
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_light_level
      below: input_number.living_area_downlights_turned_on_threshold
    - condition: state
      entity_id: sun.sun
      state: above_horizon
  action:
    - service: light.turn_on
      entity_id: light.living_area_downlights
    - service: notify.tats_devices
      data:
        message: "Turned on Living Room Downlights. Current: {{ states('sensor.living_room_light_level') }}lx"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_on_living_area_floor_heating
  alias: Turn on Living Area Floor Heating
  description: Turn on the floor heating in the living area when the temperature is too low
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_temperature
      below: input_number.living_room_floor_heating_turned_on_threshold
    - condition: state
      entity_id: group.living_area_floor_heatings
      state: "off"
    - condition: sun
      after: sunrise
    - condition: state
      entity_id: sensor.season
      state: winter
    - condition: state
      entity_id: binary_sensor.living_room_window
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.living_room_presence
      state: "on"
  action:
    - service: switch.toggle
      entity_id: switch.living_room_floor_heating
    - service: switch.toggle
      entity_id: switch.study_floor_heating
    - service: notify.all_devices
      data:
        message: "Turned on Living Area Floor Heating. Current: {{ states('sensor.living_room_temperature') }}°C"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_on_living_room_ceiling_fan
  alias: Turn on Living Room Ceiling Fan
  description: Turn on the ceiling fan in the living room
  trigger:
    - platform: sun
      event: sunrise
  action:
    - service: fan.turn_on
      entity_id: fan.living_room_ceiling_fans
  mode: single
- id: automation.turn_on_living_room_humidifier
  alias: Turn on Living Room Humidifier
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_humidity
      below: input_number.living_room_humidifier_turned_on_threshold
    - condition: state
      entity_id: switch.living_room_humidifier
      state: "off"
    - condition: sun
      after: sunrise
    - condition: state
      entity_id: binary_sensor.living_room_window
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.study_window_n
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.study_window_s
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.living_room_presence
      state: "on"
  action:
    - service: switch.turn_on
      entity_id: switch.living_room_humidifier
    - service: notify.all_devices
      data:
        message: "Turned on Living Room Humidifier. Current: {{ states('sensor.living_room_humidity') }}%"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_on_living_room_hvac_cleaner
  alias: Turn on Living Room HVAC Cleaner
  description: Turn on the HVAC cleaner in the living room
  trigger:
    - platform: time
      at: "4:00"
  condition:
    - condition: time
      weekday:
      - tue
    - condition: state
      entity_id: alarm_control_panel.surveillance
      state: disarmed
  action:
    - service: switch.turn_on
      entity_id: switch.living_room_hvac_cleaner
    - service: notify.tats_devices
      data:
        message: Turned on Living Room HVAC Cleaner
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - service: automation.turn_off
      target:
        entity_id:
          - automation.turn_on_living_room_hvac_cleaner
          - automation.turn_on_living_room_hvac_fan
          - automation.turn_off_living_room_hvac_fan
  mode: single
- id: automation.turn_on_living_room_hvac_cool
  alias: Turn on Living Room HVAC Cool
  description: Turn on the HVAC in the living room with cool mode
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_wbgt
      above: input_number.living_room_hvac_cool_turned_on_threshold
    - condition: state
      entity_id: binary_sensor.living_room_window
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.study_window_n
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.study_window_s
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.living_room_presence
      state: "on"
  action:
    - service: climate.set_hvac_mode
      target:
        entity_id: climate.living_room_hvac
      data:
        hvac_mode: cool
    - service: notify.all_devices
      data:
        message: "Turned on Living Room HVAC Cool. Current: {{ states('sensor.living_room_wbgt') }}°C"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_on_living_room_hvac_cool_forcibly
  alias: Turn on Living Room HVAC Cool Forcibly
  description: Turn on the HVAC in the living room with cool mode forcibly
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 54
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_wbgt
      above: input_number.living_room_hvac_cool_forcibly_turned_on_threshold
    - condition: state
      entity_id: binary_sensor.living_room_window
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.study_window_n
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.study_window_s
      state: "off"
      for:
        minutes: 30
  action:
    - service: climate.set_hvac_mode
      target:
        entity_id: climate.living_room_hvac
      data:
        hvac_mode: cool
    - service: notify.all_devices
      data:
        message: "Turned on Living Room HVAC Cool Forcibly. Current: {{ states('sensor.living_room_wbgt') }}°C"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_on_living_room_hvac_dry
  alias: Turn on Living Room HVAC Dry
  description: Turn on the HVAC in the living room with dry mode
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
  condition:
    - condition: numeric_state
      entity_id: sensor.living_room_humidity
      above: input_number.living_room_hvac_dry_turned_on_threshold_humidity
    - condition: numeric_state
      entity_id: sensor.living_room_wbgt
      above: input_number.living_room_hvac_dry_turned_on_threshold_wbgt
    - condition: numeric_state
      entity_id: sensor.living_room_wbgt
      below: input_number.living_room_hvac_cool_turned_on_threshold
    - condition: state
      entity_id: climate.living_room_hvac
      state: "off"
    - condition: state
      entity_id: binary_sensor.living_room_window
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.study_window_n
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.study_window_s
      state: "off"
      for:
        minutes: 30
    - condition: state
      entity_id: binary_sensor.living_room_presence
      state: "on"
  action:
    - service: climate.set_hvac_mode
      target:
        entity_id: climate.living_room_hvac
      data:
        hvac_mode: dry
    - service: notify.all_devices
      data:
        message: "Turned on Living Room HVAC Dry. Current: {{ states('sensor.living_room_humidity') }}%"
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
  mode: single
- id: automation.turn_on_living_room_hvac_fan
  alias: Turn on Living Room HVAC Fan
  description: Turn on the HVAC in the living room with fan mode
  trigger:
    - platform: time
      at: "4:30"
  action:
    - service: climate.set_hvac_mode
      target:
        entity_id: climate.living_room_hvac
      data:
        hvac_mode: fan_only
    - service: notify.tats_devices
      data:
        message: Turned on Living Room HVAC Fan
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.turn_on_monitor_akikos_iphone12mini
  alias: Turn on monitor akikos-iphone12mini
  trigger:
    - platform: numeric_state
      entity_id: sensor.monitor_akikos_iphone12mini
      above: 10
    - platform: time_pattern
      minutes: "/5"
      seconds: 53
  condition:
    - condition: numeric_state
      entity_id: sensor.monitor_akikos_iphone12mini
      above: 10
  action:
    - service: device_tracker.see
      data:
        dev_id: monitor_akikos_iphone12mini
        location_name: home
        source_type: bluetooth
- id: automation.turn_on_monitor_bio
  alias: Turn on monitor bio
  trigger:
    - platform: numeric_state
      entity_id: sensor.monitor_bio
      above: 10
    - platform: time_pattern
      minutes: "/5"
      seconds: 53
  condition:
    - condition: numeric_state
      entity_id: sensor.monitor_bio
      above: 10
  action:
    - service: device_tracker.see
      data:
        dev_id: monitor_bio
        location_name: home
        source_type: bluetooth
- id: automation.turn_on_surveillance_when_ios_action_fires
  alias: Turn on surveillance when iOS Action Fires
  trigger:
    - platform: event
      event_type: ios.action_fired
      event_data:
        actionName: turn_on_surveillance
  action:
    - service: alarm_control_panel.alarm_arm_away
      target:
        entity_id: alarm_control_panel.surveillance
    - service: notify.all_devices
      data:
        message: Now Arming Away
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.turn_on_surveillance_when_nobody_is_in_home
  alias: Turn on surveillance when Nobody is in Home
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 46
  condition:
    - condition: state
      entity_id: alarm_control_panel.surveillance
      state: disarmed
    - condition: state
      entity_id: person.shibata_tats
      state: not_home
      for:
        minutes: 10
    - condition: state
      entity_id: person.shibata_akiko
      state: not_home
      for:
        minutes: 10
  action:
    - service: alarm_control_panel.alarm_arm_away
      target:
        entity_id: alarm_control_panel.surveillance
    - service: notify.all_devices
      data:
        message: Turn on surveillance because nobody is in home
        data:
          push:
            interruption-level: time-sensitive
  mode: single
# Do not merge with automation.unlock_entrance_top. Because 
# script.unlock_and_get_state_of_entrance_lock_bottom waits 30 seconds.
- id: automation.unlock_entrance_lock_bottom
  alias: Unlock Entrance Lock Bottom
  trigger:
    - platform: state
      entity_id: sensor.entrance_1_button_switch_action
      to: single
    - platform: state
      entity_id: sensor.living_room_1_button_switch_action
      to: single
  action:
    - service: script.unlock_and_get_state_of_entrance_lock_bottom
- id: automation.unlock_entrance_lock_top
  alias: Unlock Entrance Lock Top
  trigger:
    - platform: state
      entity_id: sensor.entrance_1_button_switch_action
      to: single
    - platform: state
      entity_id: sensor.living_room_1_button_switch_action
      to: single
  action:
    - service: script.unlock_and_get_state_of_entrance_lock_top
- id: automation.unlock_entrance_lock_when_ios_action_fails
  alias: Unlock Entrance Lock when iOS Action Fails
  trigger:
    - platform: event
      event_type: ios.action_fired
      event_data:
        actionName: open_entrance
  condition:
    - condition: not
      conditions:
        - condition: state
          entity_id: person.shibata_tats
          state: home
          for:
            minutes: 5
        - condition: state
          entity_id: person.shibata_akiko
          state: home
          for:
            minutes: 5
  action:
    - service: notify.all_devices
      data:
        title: "🚫 ERROR"
        message: Nobody in Home. Use a physical key
        data:
          url: /lovelace-people/people
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.unlock_entrance_lock_when_ios_action_fires
  alias: Unlock Entrance Lock when iOS Action Fires
  trigger:
    - platform: event
      event_type: ios.action_fired
      event_data:
        actionName: open_entrance
  condition:
    - condition: or
      conditions:
        - condition: state
          entity_id: person.shibata_tats
          state: home
          for:
            minutes: 5
        - condition: state
          entity_id: person.shibata_akiko
          state: home
          for:
            minutes: 5
  action:
    - service: script.unlock_and_get_state_of_entrance_lock_bottom
    - service: script.unlock_and_get_state_of_entrance_lock_top
    - service: notify.all_devices
      data:
        message: Unlocked Entrance
        data:
          url: /lovelace-people/people
          push:
            interruption-level: time-sensitive
  mode: single
- id: automation.update_device_tracking_sensors
  alias: Update Device Tracking Sensors
  trigger:
    - platform: state
      entity_id: binary_sensor.entrance_door
  action:
    - delay:
        minutes: 1
    - service: mqtt.publish
      data:
        topic: monitor/scan/arrive
        payload: '{"identity": "automation.trigger_monitor_by_entrance_door"}'
        retain: true
    - service: mqtt.publish
      data:
        topic: monitor/scan/depart
        payload: '{"identity": "automation.trigger_monitor_by_entrance_door"}'
        retain: true
    - delay:
        seconds: 4
    - service: homeassistant.update_entity
      target:
        entity_id:
          - sensor.entrance_lock_bottom_sensor
          - sensor.entrance_lock_top_sensor
  mode: single
