- id: automation.info_arrived_tomas
  alias: "INFO: Arrived at TOMAS"
  trigger:
    - platform: state
      entity_id: person.shibata_kayano
      to: !secret latlng_t_name
  action:
    - service: notify.all_devices
      data:
        title: "[% notify_title_k %]"
        message: Arrived at TOMAS
        data:
          url: /lovelace-people/people
          push:
            interruption-level: time-sensitive
- id: automation.info_left_tomas
  alias: "INFO: Left TOMAS"
  trigger:
    - platform: state
      entity_id: person.shibata_kayano
      from: !secret latlng_t_name
  action:
    - service: notify.all_devices
      data:
        title: "[% notify_title_k %]"
        message: Left TOMAS
        data:
          url: /lovelace-people/people
          push:
            interruption-level: time-sensitive
- id: automation.info_arrived_yotsuya_otsuka
  alias: "INFO: Arrived at Yotsuya-Otsuka"
  trigger:
    - platform: state
      entity_id: person.shibata_kayano
      to: !secret latlng_y_name
  action:
    - service: notify.all_devices
      data:
        title: "[% notify_title_k %]"
        message: Arrived at Yotsuya-Otsuka
        data:
          url: /lovelace-people/people
          push:
            interruption-level: time-sensitive
- id: automation.info_left_yotsuya_otsuka
  alias: "INFO: Left Yotsuya-Otsuka"
  trigger:
    - platform: state
      entity_id: person.shibata_kayano
      from: !secret latlng_y_name
  action:
    - service: notify.all_devices
      data:
        title: "[% notify_title_k %]"
        message: Left Yotsuya-Otsuka
        data:
          url: /lovelace-people/people
          push:
            interruption-level: time-sensitive
- id: automation.info_mamorail
  alias: "INFO: Mamorail"
  trigger:
    - platform: state
      entity_id: sensor.mamorail
  condition:
    - condition: template
      value_template: >-
        {{ (as_timestamp(now()) - as_timestamp(state_attr('sensor.mamorail', 'Date'))) < 180 }}
  action:
    - delay:
        seconds: 5
    - if:
        - condition: numeric_state
          entity_id: sensor.mamorail_balance
          above: 1000
      then:
        - service: notify.all_devices
          data:
            title: "[% notify_title_k %]"
            message: "{{ states('sensor.mamorail_station') }}を{{ states('sensor.mamorail_time') }}に{{ states('sensor.mamorail_action') }}しました。残高: {{ states('sensor.mamorail_balance') }}円"
            data:
              url: /lovelace-people/people
              push:
              interruption-level: time-sensitive
      else:
        - service: notify.all_devices
          data:
            title: "[% notify_title_k %]"
            message: "️【要チャージ】{{ states('sensor.mamorail_station') }}を{{ states('sensor.mamorail_time') }}に{{ states('sensor.mamorail_action') }}しました。残高: {{ states('sensor.mamorail_balance') }}円"
            data:
              url: /lovelace-people/people
              push:
                interruption-level: time-sensitive
