- id: automation.update_roomba_combo_finished_time
  alias: Update Roomba Combo Finished Time
  trigger:
    - platform: state
      entity_id: vacuum.roomba_combo
      to: cleaning
      for:
        minutes: 30
  action:
    - service: input_datetime.set_datetime
      target:
        entity_id: input_datetime.roomba_combo_finished_time
      data:
        timestamp: "{{ now().timestamp() }}"
- id: automation.start_roomba_combo
  alias: Start Roomba Combo
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 8
  condition:
    - condition: state
      entity_id: person.shibata_tats
      state: not_home
      for:
        minutes: 10
    - condition: state
      entity_id: person.shibata_akiko
      state: not_home
      for:
        minutes: 10
    - condition: state
      entity_id: person.shibata_kayano
      state: not_home
      for:
        minutes: 10
    - condition: template
      value_template: "{{ (now().timestamp() - state_attr('input_datetime.roomba_combo_finished_time', 'timestamp')) / 60 / 60 > 48 }}"
  action:
    - service: vacuum.start
      target:
        entity_id: vacuum.roomba_combo
    - service: notify.tats_devices
      data:
        message: Start Roomba Combo
        data:
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 2
- id: automation.turn_off_alarm_control_panel_surveillance
  alias: Turn off Alarm Control Panel Surveillance
  mode: single
  trigger:
    - platform: state
      entity_id: binary_sensor.living_room_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.study_motion
      to: "on"
    - platform: state
      entity_id: binary_sensor.bathroom_motion
      to: "on"
  condition:
    - condition: state
      entity_id: alarm_control_panel.surveillance
      state: armed_away
      for:
        minutes: 20
    - condition: or
      conditions:
        - condition: state
          entity_id: person.shibata_tats
          state: home
        - condition: state
          entity_id: person.shibata_akiko
          state: home
  action:
    - service: alarm_control_panel.alarm_disarm
      target:
        entity_id: alarm_control_panel.surveillance
    - service: notify.tats_devices
      data:
        message: Turned off surveillance
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
    - delay:
        hours: 1
- id: automation.turn_on_alarm_control_panel_surveillance_when_ios_action_fires
  alias: Turn on Alarm Control Panel Surveillance when iOS Action Fires
  trigger:
    - platform: event
      event_type: ios.action_fired
      event_data:
        actionName: turn_on_surveillance
  action:
    - service: alarm_control_panel.alarm_arm_away
      target:
        entity_id: alarm_control_panel.surveillance
    - service: notify.tats_devices
      data:
        message: Now Arming Away
        data:
          url: /lovelace/home
          push:
            interruption-level: time-sensitive
- id: automation.turn_on_alarm_control_panel_surveillance_when_nobody_is_in_home
  alias: Turn on Alarm Control Panel Surveillance when Nobody is in Home
  trigger:
    - platform: time_pattern
      minutes: "/5"
      seconds: 46
  condition:
    - condition: state
      entity_id: alarm_control_panel.surveillance
      state: disarmed
    - condition: state
      entity_id: person.shibata_tats
      state: not_home
      for:
        minutes: 10
    - condition: state
      entity_id: person.shibata_akiko
      state: not_home
      for:
        minutes: 10
  action:
    - service: alarm_control_panel.alarm_arm_away
      target:
        entity_id: alarm_control_panel.surveillance
    - service: notify.tats_devices
      data:
        message: Turn on surveillance because nobody is in home
        data:
          push:
            interruption-level: time-sensitive
- id: automation.turn_off_surveillances
  alias: Turn off Surveillances
  trigger:
    - platform: state
      entity_id: alarm_control_panel.surveillance
      to: disarmed
    - platform: time_pattern
      minutes: "/5"
      seconds: 2
  condition:
    - condition: state
      entity_id: alarm_control_panel.surveillance
      state: disarmed
  action:
    - service: switch.turn_off
      entity_id:
        - switch.living_room_surveillance_plug
        - switch.bedroom_surveillance_plug
- id: automation.turn_on_surveillances
  alias: Turn on Surveillances
  trigger:
    - platform: state
      entity_id: alarm_control_panel.surveillance
      to: armed_away
    - platform: time_pattern
      minutes: "/5"
      seconds: 58
  condition:
    - condition: state
      entity_id: alarm_control_panel.surveillance
      state: armed_away
  action:
    - service: switch.turn_on
      entity_id:
        - switch.living_room_surveillance_plug
        - switch.bedroom_surveillance_plug
- id: automation.webhook_switchbot
  alias: "Webhook: Switchbot"
  trigger:
    - platform: webhook
      webhook_id: [% switchbot.webhook_id %]
      local_only: false
  action:
    - service: mqtt.publish
      data_template:
        topic: /switchbot/json
        payload: "{{ trigger.json }}"
