- platform: command_line
  name: REGZA State
  command: curl --digest --user '[% regza.username %]:[% regza.password %]' http://regza.rewse.jp/v2/remote/play/status | jq -r .content_type | sed 's/external/other/'
  payload_on: broadcast
  payload_off: other
- platform: command_line
  name: REGZA Volume Muted
  command: curl --digest --user '[% regza.username %]:[% regza.password %]' http://regza/v2/remote/status/mute | jq -r .mute
- platform: ping
  name: alfa
  host: alfa.rewse.jp
- platform: ping
  name: delta
  host: delta.rewse.jp
- platform: ping
  name: fox
  host: fox.rewse.jp
- platform: ping
  name: guppy
  host: guppy.rewse.jp
- platform: ping
  name: hotel
  host: hotel.rewse.jp
- platform: ping
  name: amazonplug-bed
  host: amazonplug-bed.rewse.jp
- platform: ping
  name: amazonplug-liv
  host: amazonplug-liv.rewse.jp
- platform: ping
  name: amazonplug-sto
  host: amazonplug-sto.rewse.jp
- platform: ping
  name: aventage
  host: aventage.rewse.jp
- platform: ping
  name: catloghome-bed
  host: catloghome-bed.rewse.jp
- platform: ping
  name: catloghome-liv
  host: catloghome-liv.rewse.jp
- platform: ping
  name: daikinhvac
  host: daikinhvac.rewse.jp
- platform: ping
  name: eufy_bed
  host: eufy-bed.rewse.jp
- platform: ping
  name: eufy_liv
  host: eufy-liv.rewse.jp
- platform: ping
  name: huebridge
  host: huebridge.rewse.jp
- platform: ping
  name: jq300
  host: jq300.rewse.jp
- platform: ping
  name: justio
  host: justio.rewse.jp
- platform: ping
  name: kasaplug-ent
  host: kasaplug-ent.rewse.jp
- platform: ping
  name: kasaplug-liv
  host: kasaplug-liv.rewse.jp
- platform: ping
  name: papa
  host: papa.rewse.jp
- platform: ping
  name: regza
  host: regza.rewse.jp
- platform: ping
  name: remo-bed
  host: remo-bed.rewse.jp
- platform: ping
  name: remo-liv
  host: remo-liv.rewse.jp
- platform: ping
  name: romeo
  host: romeo.rewse.jp
- platform: ping
  name: sesamemodule
  host: sesamemodule.rewse.jp
- platform: ping
  name: switchbothub
  host: switchbothub.rewse.jp
- platform: ping
  name: tango
  host: tango.rewse.jp
- platform: ping
  name: tuyaplug-bed
  host: tuyaplug-bed.rewse.jp
- platform: ping
  name: tuyaplug-bat
  host: tuyaplug-bat.rewse.jp
- platform: ping
  name: tuyaplug-kit
  host: tuyaplug-kit.rewse.jp
- platform: ping
  name: tuyaplug-liv
  host: tuyaplug-liv.rewse.jp
- platform: ping
  name: wfirex
  host: wfirex.rewse.jp
- platform: ping
  name: xiaomigateway
  host: xiaomigateway.rewse.jp
- platform: ping
  name: xray-liv
  host: xray-liv.rewse.jp
- platform: ping
  name: xray-sto
  host: xray-sto.rewse.jp
- platform: ping
  name: zulu
  host: zulu.rewse.jp
- platform: workday
  country: JP
