- binary_sensor:
    unique_id: binary_sensor.regza_volume_muted
    name: "REGZA Volume Muted"
    command: >-
        curl --digest --user '[% regza.username %]:[% regza.password %]' \
        http://regza/v2/remote/status/mute | jq -r .mute
# Do not use value_template because it causes a warning message every time
- sensor:
    unique_id: sensor.regza_channel
    name: "REGZA Channel"
    command: >-
        curl --digest --user '[% regza.username %]:[% regza.password %]' \
        http://regza.rewse.jp/v2/remote/play/status | jq -r .epg_info_current.channel_name
- sensor:
    unique_id: sensor.regza_content_type
    name: "REGZA Content Type"
    command: >-
        curl --digest --user '[% regza.username %]:[% regza.password %]' \
        http://regza.rewse.jp/v2/remote/play/status | jq -r .content_type
    scan_interval: 5
