- binary_sensor:
    name: REGZA State
    unique_id: binary_sensor.regza_state
    command: curl --digest --user '[% regza.username %]:[% regza.password %]' http://regza.rewse.jp/v2/remote/play/status | jq -r .content_type | sed 's/external/other/'
    payload_on: broadcast
    payload_off: other
- binary_sensor:
    name: REGZA Volume Muted
    unique_id: binary_sensor.regza_volume_muted
    command: curl --digest --user '[% regza.username %]:[% regza.password %]' http://regza/v2/remote/status/mute | jq -r .mute
# Do not use value_template because it causes a warning message every time
- sensor:
    name: REGZA Channel
    unique_id: sensor.regza_channel
    command: curl --digest --user '[% regza.username %]:[% regza.password %]' http://regza.rewse.jp/v2/remote/play/status | jq -r .epg_info_current.channel_name
- sensor:
    name: REGZA Content Type
    unique_id: sensor.regza_content_type
    command: curl --digest --user '[% regza.username %]:[% regza.password %]' http://regza.rewse.jp/v2/remote/play/status | jq -r .content_type
- sensor:
    name: Balcony SwitchBot Meter Temperature
    unique_id: sensor.balcony_switchbot_meter_temperature
    command: /config/bin/switchbot get [% switchbot.device_id.balcony_meter %] [% switchbot.token %] [% switchbot.secret %]
    value_template: '{{ value_json.body.temperature }}'
    json_attributes:
        - body
    device_class: temperature
    unit_of_measurement: °C
- sensor:
    name: Bedroom Curtains Position
    unique_id: sensor.bedroom_curtains_position
    command: /config/bin/switchbot get [% switchbot.device_id.bedroom_curtains %] [% switchbot.token %] [% switchbot.secret %] 
    value_template: '{{ value_json.body.slidePosition }}'
    json_attributes:
        - body
    unit_of_measurement: "%"
- sensor:
    name: Bedroom SwitchBot Meter Temperature
    unique_id: sensor.bedroom_switchbot_meter_temperature
    command: /config/bin/switchbot get [% switchbot.device_id.bedroom_meter %] [% switchbot.token %] [% switchbot.secret %]
    value_template: '{{ value_json.body.temperature }}'
    json_attributes:
        - body
    device_class: temperature
    unit_of_measurement: °C
- sensor:
    name: Living Room SwitchBot Hub2 Temperature
    unique_id: sensor.living_room_switchbot_hub2_temperature
    command: /config/bin/switchbot get [% switchbot.device_id.living_room_hub2 %] [% switchbot.token %] [% switchbot.secret %]
    value_template: '{{ value_json.body.temperature }}'
    json_attributes:
        - body
    device_class: temperature
    unit_of_measurement: °C
