alexa_client_id: [% alexa_client.id %]
alexa_client_secret: [% alexa_client.secret %]
gmail_address: [% gmail.address %]
gmail_password: [% gmail.password %]
ifttt_key: [% ifttt_key %]
latlng_home_lat: [% latlng.home.lat %]
latlng_home_lng: [% latlng.home.lng %]
latlng_y_name: [% latlng.y.name %]
latlng_y_lat: [% latlng.y.lat %]
latlng_y_lng: [% latlng.y.lng %]
mosquitto_password: [% mosquitto_password %]
postgres_connstr: postgresql://[% postgres.username %]:[% postgres.password %]@[% postgres.hostname %]/[% postgres.db %]
