alexa_client_id: [% homeassistant_alexa_client.id %]
alexa_client_secret: [% homeassistant_alexa_client.secret %]
gmail_address: [% homeassistant_gmail.address %]
gmail_password: [% homeassistant_gmail.password %]
latlng_home_lat: [% homeassistant_latlng.home.lat %]
latlng_home_lng: [% homeassistant_latlng.home.lng %]
mosquitto_password: [% homeassistant_mosquitto_password %]
postgres_connstr: postgresql://[% homeassistant_postgres.username %]:[% homeassistant_postgres.password %]@[% homeassistant_postgres.hostname %]/[% homeassistant_postgres.db %]
regza_username: '[% homeassistant_regza.username %]'
regza_password: '[% homeassistant_regza.password %]'
