ifttt_key: {{ ifttt_key }}
latlng_home_lat: {{ latlng.home.lat }}
latlng_home_lng: {{ latlng.home.lng }}
latlng_office_lat: {{ latlng.office.lat }}
latlng_office_lng: {{ latlng.office.lng }}
latlng_s_name: {{ latlng.s.name }}
latlng_s_lat: {{ latlng.s.lat }}
latlng_s_lng: {{ latlng.s.lng }}
mosquitto_password: {{ mosquitto_password }}
remo_token: {{ remo_token }}
switchbot_token: {{ switchbot_token }}
