# Do not use value_template because it causes a warning message every time
- platform: command_line
  name: REGZA Channel
  command: curl --digest --user '[% regza.username %]:[% regza.password %]' http://regza.rewse.jp/v2/remote/play/status | jq -r .epg_info_current.channel_name
- platform: command_line
  name: REGZA Content Type
  command: curl --digest --user '[% regza.username %]:[% regza.password %]' http://regza.rewse.jp/v2/remote/play/status | jq -r .content_type
- platform: command_line
  name: Balcony SwitchBot Meter Temperature
  command: /config/bin/switchbot get [% switchbot.device_id.balcony_meter %] [% switchbot.token %] [% switchbot.secret %]
  value_template: '{{ value_json.body.temperature }}'
  json_attributes:
    - body
  device_class: temperature
  unit_of_measurement: °C
- platform: command_line
  name: Bedroom Curtains Position
  command: /config/bin/switchbot get [% switchbot.device_id.bedroom_curtains %] [% switchbot.token %] [% switchbot.secret %] 
  value_template: '{{ value_json.body.slidePosition }}'
  json_attributes:
    - body
  unit_of_measurement: "%"
- platform: command_line
  name: Bedroom SwitchBot Meter Temperature
  command: /config/bin/switchbot get [% switchbot.device_id.bedroom_meter %] [% switchbot.token %] [% switchbot.secret %]
  value_template: '{{ value_json.body.temperature }}'
  json_attributes:
    - body
  device_class: temperature
  unit_of_measurement: °C
- platform: command_line
  name: Living Room SwitchBot Hub2 Temperature
  command: /config/bin/switchbot get [% switchbot.device_id.living_room_hub2 %] [% switchbot.token %] [% switchbot.secret %]
  value_template: '{{ value_json.body.temperature }}'
  json_attributes:
    - body
  device_class: temperature
  unit_of_measurement: °C
- platform: filter
  name: Filtered Bedroom HVAC Plug Power
  entity_id: sensor.bedroom_hvac_plug_power
  filters:
    - filter: lowpass
      window_size: 10
      time_constant: 24
- platform: imap_email_content
  name: Mamorail
  server: imap.gmail.com
  username: !secret gmail_address
  password: !secret gmail_password
  folder: mamorail
  senders:
    - info@mamorail.jp
- platform: imap_email_content
  name: Yotsuya-Otsuka
  server: imap.gmail.com
  username: !secret gmail_address
  password: !secret gmail_password
  folder: yotsuya-otsuka
  senders:
    - ichigaya@yotsuya-otsuka.co.jp
- platform: rest
  name: Entrance Lock Bottom Sensor
  resource: https://app.candyhouse.co/api/sesame2/[% sesame.uuid_bottom %]
  headers:
    x-api-key: "[% sesame.api_key %]"
  value_template: '{{ value_json.CHSesame2Status }}'
  json_attributes:
    - batteryPercentage
    - batteryVoltage
    - position
    - CHSesame2Status
    - timestamp
  scan_interval: 300
- platform: rest
  name: Entrance Lock Top Sensor
  resource: https://app.candyhouse.co/api/sesame2/[% sesame.uuid_top %]
  headers:
    x-api-key: "[% sesame.api_key %]"
  value_template: '{{ value_json.CHSesame2Status }}'
  json_attributes:
    - batteryPercentage
    - batteryVoltage
    - position
    - CHSesame2Status
    - timestamp
  scan_interval: 300
- platform: statistics
  entity_id: sensor.balcony_humidity_difference
  name: Average of Balcony Humidity Difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  entity_id: sensor.balcony_temperature_difference
  name: Average of Balcony Temperature Difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  entity_id: sensor.bedroom_humidity_difference
  name: Average of Bedroom Humidity Difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  entity_id: binary_sensor.bedroom_motion_n
  name: Count of Bedroom Motion N
  state_characteristic: count
  sampling_size: 1800
  max_age: "00:30:00"
- platform: statistics
  entity_id: binary_sensor.bedroom_motion_s
  name: Count of Bedroom Motion S
  state_characteristic: count
  sampling_size: 1800
  max_age: "00:30:00"
- platform: statistics
  entity_id: sensor.bedroom_temperature_difference
  name: Average of Bedroom Temperature Difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  entity_id: sensor.living_room_humidity_difference
  name: Average of Living Room Humidity Difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  entity_id: binary_sensor.living_room_motion
  name: Count of Living Room Motion
  state_characteristic: count
  sampling_size: 1800
  max_age: "00:30:00"
- platform: statistics
  entity_id: sensor.living_room_temperature_difference
  name: Average of Living Room Temperature Difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  entity_id: binary_sensor.study_motion
  name: Count of Study Motion
  state_characteristic: count
  sampling_size: 1800
  max_age: "00:30:00"
