- platform: filter
  name: Filtered Dad’s Room AC Plug Power
  unique_id: sensor.filtered_dads_room_ac_plug_power
  entity_id: sensor.dads_room_ac_plug_power
  filters:
    - filter: time_simple_moving_average
      window_size: "00:10"
- platform: filter
  name: Filtered Mom’s Room AC Plug Power
  unique_id: sensor.filtered_moms_room_ac_plug_power
  entity_id: sensor.moms_room_ac_plug_power
  filters:
    - filter: time_simple_moving_average
      window_size: "00:10"
- platform: rest
  name: Entrance Lock Bottom Sensor
  unique_id: sensor.entrance_lock_bottom_sensor
  resource: https://app.candyhouse.co/api/sesame2/[% sesame.uuid_bottom %]
  headers:
    x-api-key: "[% sesame.api_key %]"
  value_template: '{{ value_json.CHSesame2Status }}'
  json_attributes:
    - batteryPercentage
    - batteryVoltage
    - position
    - CHSesame2Status
    - timestamp
  scan_interval: 3000
- platform: rest
  name: Entrance Lock Top Sensor
  unique_id: sensor.entrance_lock_top_sensor
  resource: https://app.candyhouse.co/api/sesame2/[% sesame.uuid_top %]
  headers:
    x-api-key: "[% sesame.api_key %]"
  value_template: '{{ value_json.CHSesame2Status }}'
  json_attributes:
    - batteryPercentage
    - batteryVoltage
    - position
    - CHSesame2Status
    - timestamp
  scan_interval: 3000
- platform: statistics
  name: Average of Balcony Humidity Difference
  unique_id: sensor.average_of_balcony_humidity_difference
  entity_id: sensor.balcony_humidity_difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  name: Average of Balcony Temperature Difference
  unique_id: sensor.average_of_balcony_temperature_difference
  entity_id: sensor.balcony_temperature_difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  name: Average of Mom’s Room Humidity Difference
  unique_id: sensor.average_of_moms_room_humidity_difference
  entity_id: sensor.moms_room_humidity_difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  name: Average of Mom’s Room Temperature Difference
  unique_id: sensor.average_of_moms_room_temperature_difference
  entity_id: sensor.moms_room_temperature_difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  name: Count of Dad’s Room Motion
  unique_id: sensor.count_of_dads_room_motion
  entity_id: binary_sensor.dads_room_motion
  state_characteristic: count
  sampling_size: 1800
  max_age: "00:30:00"
- platform: statistics
  name: Count of Dining Room Motion
  unique_id: sensor.count_of_dining_room_motion
  entity_id: binary_sensor.dining_room_motion
  state_characteristic: count
  sampling_size: 1800
  max_age: "00:30:00"
- platform: statistics
  name: Average of Living Room Humidity Difference
  unique_id: sensor.average_of_living_room_humidity_difference
  entity_id: sensor.living_room_humidity_difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  name: Count of Living Room Motion
  unique_id: sensor.count_of_living_room_motion
  entity_id: binary_sensor.living_room_motion
  state_characteristic: count
  sampling_size: 1800
  max_age: "00:30:00"
- platform: statistics
  name: Average of Living Room Temperature Difference
  unique_id: sensor.average_of_living_room_temperature_difference
  entity_id: sensor.living_room_temperature_difference
  state_characteristic: mean
  sampling_size: 183600
  max_age: "51:00:00"
- platform: statistics
  name: Count of Mom’s Room Motion
  unique_id: sensor.count_of_moms_room_motion
  entity_id: binary_sensor.moms_room_motion
  state_characteristic: count
  sampling_size: 1800
  max_age: "00:30:00"
- platform: statistics
  name: Count of Study Motion
  unique_id: sensor.count_of_study_motion
  entity_id: binary_sensor.study_motion
  state_characteristic: count
  sampling_size: 1800
  max_age: "00:30:00"
