- platform: command_line
  name: REGZA Channel
  command: curl --digest --user '[% regza.username %]:[% regza.password %]' http://regza.rewse.jp/v2/remote/play/status | jq -r .epg_info_current.channel_name
- platform: dnsip
  name: DNS hass.rewse.jp
  hostname: hass.rewse.jp
  resolver: 192.168.0.1
- platform: mqtt
  unique_id: sensor.mqtt.enecoq_fee_low
  name: enecoQ Fee Low
  state_topic: enecoq/fee
  value_template: "{{ value_json.low }}"
  unit_of_measurement: JPY/h
  availability:
    - topic: enecoq/fee/state
  icon: mdi:transmission-tower
- platform: mqtt
  unique_id: sensor.mqtt.enecoq_fee_mid
  name: enecoQ Fee Mid
  state_topic: enecoq/fee
  value_template: "{{ value_json.mid }}"
  unit_of_measurement: JPY/h
  availability:
    - topic: enecoq/fee/state
  icon: mdi:transmission-tower
- platform: mqtt
  unique_id: sensor.mqtt.enecoq_fee_high
  name: enecoQ Fee High
  state_topic: enecoq/fee
  value_template: "{{ value_json.high }}"
  unit_of_measurement: JPY/h
  availability:
    - topic: enecoq/fee/state
  icon: mdi:transmission-tower
- platform: mqtt
  unique_id: sensor.mqtt.enecoq_fee_total
  name: enecoQ Fee Total
  state_topic: enecoq/fee
  value_template: "{{ value_json.total }}"
  unit_of_measurement: JPY/h
  availability:
    - topic: enecoq/fee/state
  icon: mdi:transmission-tower
- platform: rest
  name: Bedroom Curtains Position
  resource: https://api.switch-bot.com/v1.0/devices/E9A417DB5E33/status
  headers:
    Authorization: !secret switchbot_token
    Content-Type: 'application/json'
  value_template: '{{ value_json.body.slidePosition }}'
  json_attributes_path: "$.body"
  json_attributes:
    - deviceId
    - deviceType
    - hubDeviceId
    - calibrate
    - group
    - moving
    - slidePosition
  scan_interval: 1200
- platform: season
- platform: seventeentrack
  username: !secret seventeentrack_username
  password: !secret seventeentrack_password
- platform: template
  sensors:
    living_room_wbgt:
      unique_id: sensor.template.living_room_wbgt
      friendly_name: Living Room WBGT
      unit_of_measurement: °C
      value_template: "{{ ((states('sensor.0x158d0002b965e7_temperature') | float - 30.5) * 0.90739 + (states('sensor.0x158d0002b965e7_humidity') | float - 60.0) * 0.14775 + (states('sensor.0x158d0002b965e7_temperature') | float - 30.5) * (states('sensor.0x158d0002b965e7_humidity') | float - 60.0) * 0.003655 + 27.77) | round(2) }}"
      icon_template: mdi:thermometer-lines
    bedroom_wbgt:
      unique_id: sensor.template.bedroom_wbgt
      friendly_name: Bedroom WBGT
      unit_of_measurement: °C
      value_template: "{{ ((states('sensor.0x158d00041da691_temperature') | float - 30.5) * 0.90739 + (states('sensor.0x158d00041da691_humidity') | float - 60.0) * 0.14775 + (states('sensor.0x158d00041da691_temperature') | float - 30.5) * (states('sensor.0x158d00041da691_humidity') | float - 60.0) * 0.003655 + 27.77) | round(2) }}"
      icon_template: mdi:thermometer-lines
    balcony_wbgt:
      unique_id: sensor.template.balcony_wbgt
      friendly_name: Balcony WBGT
      unit_of_measurement: °C
      value_template: "{{ ((states('sensor.0x158d0003cd3c39_temperature') | float - 30.5) * 0.90739 + (states('sensor.0x158d0003cd3c39_humidity') | float - 60.0) * 0.14775 + (states('sensor.0x158d0003cd3c39_temperature') | float - 30.5) * (states('sensor.0x158d0003cd3c39_humidity') | float - 60.0) * 0.003655 + 27.77) | round(2) }}"
      icon_template: mdi:thermometer-lines
