control_toggle_regza: >-
    curl -k --digest --user '[% homeassistant_regza.username %]:[% homeassistant_regza.password %]' \
    https://regza.rewse.jp:4430/remote/remote.htm?key=40BF12
control_volume_up_regza: >-
    curl -k --digest --user '[% homeassistant_regza.username %]:[% homeassistant_regza.password %]' \
    https://regza.rewse.jp:4430/remote/remote.htm?key=40BF1A
control_volume_down_regza: >-
    curl -k --digest --user '[% homeassistant_regza.username %]:[% homeassistant_regza.password %]' \
    https://regza.rewse.jp:4430/remote/remote.htm?key=40BF1E
control_mute_regza: >-
    curl -k --digest --user '[% homeassistant_regza.username %]:[% homeassistant_regza.password %]' \
    https://regza.rewse.jp:4430/remote/remote.htm?key=40BF10
