- platform: command_line
  switches:
    bedroom_curtains:
      command_on: 'curl -X POST -H "Authorization: {{ switchbot_token }}" -H "Content-Type: application/json" -d "{\"command\": \"turnOn\"}" https://api.switch-bot.com/v1.0/devices/E9A417DB5E33/commands'
      command_off: 'curl -X POST -H "Authorization: {{ switchbot_token }}" -H "Content-Type: application/json" -d "{\"command\": \"turnOff\"}" https://api.switch-bot.com/v1.0/devices/E9A417DB5E33/commands'
      friendly_name: "Bedroom Curtains"
    living_room_ac_cleaner:
      command_on: 'curl -X POST -H "Authorization: Bearer {{ remo_token }}" https://api.nature.global/1/signals/e5286537-2c60-46ab-8fa5-3f695b9661ec/send'
      command_off: 'curl -X POST -H "Authorization: Bearer {{ remo_token }}" -d "button=power-off" https://api.nature.global/1/appliances/7f2794cf-eb73-45ea-a08e-c8b8adcab62c/aircon_settings'
      command_state: "false"
      friendly_name: "Living Room AC Cleaner"
    living_room_ceiling_fan:
      command_on: "curl -X POST https://maker.ifttt.com/trigger/turnon_living_room_ceiling_fan/with/key/{{ ifttt_key }}"
      command_off: "curl -X POST https://maker.ifttt.com/trigger/turnoff_living_room_ceiling_fan/with/key/{{ ifttt_key }}"
      friendly_name: "Living Room Ceiling Fan"
    living_room_humidifier:
      command_on: 'curl -X POST -H "Authorization: {{ switchbot_token }}" -H "Content-Type: application/json" -d "{\"command\": \"press\"}" https://api.switch-bot.com/v1.0/devices/C12F0898BAC5/commands && curl -X POST -H "Authorization: {{ switchbot_token }}" -H "Content-Type: application/json" -d "{\"command\": \"press\"}" https://api.switch-bot.com/v1.0/devices/C12F0898BAC5/commands'
      command_off: 'curl -X POST -H "Authorization: {{ switchbot_token }}" -H "Content-Type: application/json" -d "{\"command\": \"press\"}" https://api.switch-bot.com/v1.0/devices/C12F0898BAC5/commands'
      friendly_name: "Living Room Humidifier"
    living_room_floor_heating:
      command_on: 'curl -X POST -H "Authorization: {{ switchbot_token }}" -H "Content-Type: application/json" -d "{\"command\": \"press\"}" https://api.switch-bot.com/v1.0/devices/E55CF11F894A/commands'
      command_off: 'curl -X POST -H "Authorization: {{ switchbot_token }}" -H "Content-Type: application/json" -d "{\"command\": \"press\"}" https://api.switch-bot.com/v1.0/devices/E55CF11F894A/commands'
      command_state: "false"
      friendly_name: "Living Room Floor Heating"
    study_floor_heating:
      command_on: 'curl -X POST -H "Authorization: {{ switchbot_token }}" -H "Content-Type: application/json" -d "{\"command\": \"press\"}" https://api.switch-bot.com/v1.0/devices/D0ECA7E7803F/commands'
      command_off: 'curl -X POST -H "Authorization: {{ switchbot_token }}" -H "Content-Type: application/json" -d "{\"command\": \"press\"}" https://api.switch-bot.com/v1.0/devices/D0ECA7E7803F/commands'
      command_state: "false"
      friendly_name: "Study Floor Heating"
    living_room_downlights:
      command_on: 'curl -X POST -H "Authorization: Bearer {{ remo_token }}" https://api.nature.global/1/signals/917b6ba4-5cff-4e91-88f4-cccc7fe1c5eb/send'
      command_off: 'curl -X POST -H "Authorization: Bearer {{ remo_token }}" https://api.nature.global/1/signals/281417a3-3a19-4a0a-b9fa-9f19d0d3f654/send'
      friendly_name: "Living Room Downlights"
    living_room_dimming_downlights:
      command_on: 'curl -X POST -H "Authorization: Bearer {{ remo_token }}" https://api.nature.global/1/signals/4975ccd8-2cfd-42e1-98a2-6e1b29017f70/send'
      command_off: 'curl -X POST -H "Authorization: Bearer {{ remo_token }}" https://api.nature.global/1/signals/d5f4b519-15a5-4b5e-90a7-0acd736108df/send'
      friendly_name: "Living Room Dimming Downlights"
