#!/usr/bin/env bash

set -u
trap 'exit 1' 1 2 3 15

bssid=$1

if [ ! "$bssid" ]; then
    read -p "BSSID" bssid
    exit 1
fi

# {{{ sendto_mqtt()

sendto_mqtt() {
    upper_bssid=${bssid//:/}
    upper_bssid=${upper_bssid^^}

    lower_bssid=${upper_bssid:0:2}:${upper_bssid:2:2}:${upper_bssid:4:2}:${upper_bssid:6:2}:${upper_bssid:8:2}:${upper_bssid:10:2}
    lower_bssid=${lower_bssid,,}

    ch=$(iw dev wlan0 scan | grep -A 10 $lower_bssid | grep channel | awk '{print $5}')

    retval=$?

    if [ "$retval" != "0" -o "$ch" == "" ]; then
        mosquitto_pub -r -t wifi/$upper_bssid/status \
            -u pub_client -P [% mosquitto_pub_password %] \
            -h hass.rewse.jp -p 8883 \
            --cafile /etc/ssl/certs/DST_Root_CA_X3.pem \
            -m offline

        exit $retval
    fi

    datetime=$(date --iso-8601=seconds)
    json=$(cat <<!
{
    "datetime": "$datetime",
    "ch": "$ch"
}
!
    )

    mosquitto_pub -r -t wifi/$upper_bssid/status \
        -u pub_client -P [% mosquitto_pub_password %] \
        -h hass.rewse.jp -p 8883 \
        --cafile /etc/ssl/certs/DST_Root_CA_X3.pem \
        -m online

    mosquitto_pub -r -t wifi/$upper_bssid \
        -u pub_client -P [% mosquitto_pub_password %] \
        -h hass.rewse.jp -p 8883 \
        --cafile /etc/ssl/certs/DST_Root_CA_X3.pem \
        -m "$json"
}

# }}}
# {{{ Main

sendto_mqtt

# }}}
