- name: Home
  latitude: !secret latlng_home_lat
  longitude: !secret latlng_home_lng
  radius: 250
  icon: mdi:home
- name: Office
  latitude: !secret latlng_office_lat
  longitude: !secret latlng_office_lng
  radius: 100
  icon: mdi:office-building
- name: !secret latlng_s_name
  latitude: !secret latlng_s_lat
  longitude: !secret latlng_s_lng
  radius: 100
  icon: mdi:leaf
