- name: Home
  latitude: {{ latlng.home.lat }}
  longitude: {{ latlng.home.lng }}
  radius: 200
  icon: mdi:home
- name: Office
  latitude: {{ latlng.office.lat }}
  longitude: {{ latlng.office.lng }}
  radius: 100
  icon: mdi:office-building
- name: {{ latlng.s.name }}
  latitude: {{ latlng.s.lat }}
  longitude: {{ latlng.s.lng }}
  radius: 100
  icon: mdi:leaf