#!/usr/bin/bash

readonly remote=guppy:/volume1/Backup/{{ ansible_hostname }}
readonly src=/
readonly dest=/mnt/bak

trap 'my_exit 1' 1 2 3 15

my_exit() {
  if [ "$(grep $dest /proc/mounts)" != "" ]; then
    umount $dest
  fi

  exit $1
}

if [ "$(grep $dest /proc/mounts)" = "" ]; then
  mount $remote $dest
fi

nice -n 10 tmbackup --strategy "1:1 30:7 90:30" $src $dest /etc/tmbackup.exclude > /dev/null

retval=$?

my_exit $retval
