network:
  version: 2
  ethernets:
    eth0:
      dhcp4: false
      dhcp6: false
      optional: true
      addresses:
         - {{ local.ip }}/24
      routes:
        - to: default
          via: {{ default_gateway }}
      nameservers:
        search:
          - rewse.jp
        addresses:
          - {{ resolved1.ip }}
          - {{ resolved2.ip }}
  wifis:
    wlan0:
      access-points:
        xray:
          password: {{ xray_password }}
      dhcp4: false
      dhcp6: false
      optional: true
      addresses:
         - {{ local.ip_2 }}/24
