network:
  version: 2
  ethernets:
    eth0:
      dhcp4: false
      dhcp6: true
      mtu: 9000
      ipv6-mtu: 9000
      accept-ra: true
      optional: true
      addresses:
         - {{ local.ip }}/24
      routes:
        - to: default
          via: {{ default_gateway }}
        - to: 10.0.0.0/16
          via: {{ default_gateway }}
      nameservers:
        addresses:
          - {{ resolved1.ip }}
          - {{ resolved1.ipv6 }}
        search:
          - rewse.jp
  wifis:
    wlan0:
      access-points:
        xray:
          password: {{ xray_password }}
      dhcp4: false
      dhcp6: false
      optional: true
      addresses:
         - {{ local.ip_2 }}/24
