---
- name: "systemd-timesyncd: Restart"
  ansible.builtin.systemd:
    name: systemd-timesyncd
    state: restarted

- name: "dphys-swapfile: Restart"
  ansible.builtin.systemd:
    name: dphys-swapfile
    state: restarted

- name: "ssh: Restart socket"
  ansible.builtin.systemd:
    name: ssh.socket
    state: restarted

- name: "network-failover: Restart timer"
  ansible.builtin.systemd:
    name: network-failover.timer
    state: restarted
    daemon_reload: true
