---
- name: "systemd-timesyncd: Restart"
  ansible.builtin.systemd:
    name: systemd-timesyncd
    state: restarted

- name: "dphys-swapfile: Restart"
  ansible.builtin.systemd:
    name: dphys-swapfile
    state: restarted

- name: "ssh: Restart socket"
  ansible.builtin.systemd:
    name: ssh.socket
    state: restarted

- name: "ifmetric: Run"
  ansible.builtin.command: ifmetric wlan0 100
