---
- name: "systemd-timesyncd: Restart"
  ansible.builtin.systemd:
    name: systemd-timesyncd
    state: restarted

- name: "dphys-swapfile: Restart"
  ansible.builtin.systemd:
    name: dphys-swapfile
    state: restarted

- name: "ssh: Restart socket"
  ansible.builtin.systemd:
    name: ssh.socket
    state: restarted

- name: "network-failover: Restart timer"
  ansible.builtin.systemd:
    name: network-failover.timer
    state: restarted
    daemon_reload: true

- name: "Reload systemd"
  ansible.builtin.systemd:
    daemon_reload: true

- name: "raspberrypi : Restart backup-daily timer"
  ansible.builtin.systemd:
    name: backup-daily.timer
    state: restarted
    daemon_reload: true

- name: "sysctl: Reload"
  ansible.builtin.command: sysctl --system
