#!/usr/bin/env bash

trap 'my_exit 1' 1 2 3 15

readonly login_id=[% sjdc.login_id %]
readonly password=[% sjdc.password %]

# {{{ my_exit()

my_exit() {
    echo $1
    exit $1
}

# }}}
# {{{ send_shares()

send_shares() {
    csv=$(sudo -u [% user %] /usr/local/bin/sjdc $login_id $password)

    res=0
    for line in $csv; do
        id=$(echo $line | awk -F, '{print $1}')
        shares=$(echo $line | awk -F, '{print $2}')

        zabbix_sender \
            -c /etc/zabbix/zabbix_agentd.conf \
            -s Money \
            -k asset.shares[$id,401k] \
            -o $shares \
        &> /dev/null

        res=$(expr $res + $?)
    done
}

# }}}
# {{{ Main

send_shares

my_exit $res

# }}}
