---
- name: Copy cloudwatch
  ansible.builtin.copy:
    src: cloudwatch
    dest: /usr/local/bin
    mode: '0755'
  tags: [zabbix-agent-ec2]

- name: Copy ec2.sh
  ansible.builtin.copy:
    src: ec2.sh
    dest: /usr/lib/zabbix/agentscripts
    mode: '0755'
  tags: [zabbix-agent-ec2]

- name: Copy ec2.conf
  ansible.builtin.copy:
    src: ec2.conf
    dest: /etc/zabbix/zabbix_agentd.d
  notify: Restart zabbix-agent
  tags: [zabbix-agent-ec2]
