---
- name: "zabbix-agent : Copy CloudWatch script"
  ansible.builtin.copy:
    src: cloudwatch
    dest: /usr/local/bin
    mode: '0755'
  tags: [zabbix-agent-ec2, config]

- name: "zabbix-agent : Copy EC2 monitoring script"
  ansible.builtin.copy:
    src: ec2.sh
    dest: /usr/lib/zabbix/agentscripts
    mode: '0755'
  tags: [zabbix-agent-ec2, config]

- name: "zabbix-agent : Copy EC2 config"
  ansible.builtin.copy:
    src: ec2.conf
    dest: /etc/zabbix/zabbix_agentd.d
  notify: "zabbix-agent: Restart"
  tags: [zabbix-agent-ec2, config]
