[Unit]
Description=Certbot certificate renewal timer

[Timer]
OnCalendar=*-*-01 05:00:00
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
