---
- name: Install packages
  ansible.builtin.apt:
    name:
      - nvme-cli
  tags: [ec2]

- name: Format the secondary disk
  community.general.filesystem:
    fstype: ext4
    dev: /dev/{{ secondary_diskname }}
  tags: [ec2, storage]

- name: Label the secondary disk
  ansible.builtin.command: e2label /dev/{{ secondary_diskname }} srv
  tags: [ec2, storage]

- name: Mount srv
  ansible.posix.mount:
    src: LABEL=srv
    path: /srv
    fstype: ext4
    opts: defaults,discard
    state: mounted
  tags: [ec2, storage]
