- id: automation.select_home_alarm_control
  alias: "Select Home Alarm Control"
  triggers:
    - trigger: state
      entity_id:
        - device_tracker.ping_atom
        - device_tracker.ping_ubiqu_personal
        - device_tracker.ping_kijitora
    - trigger: state
      entity_id:
        - person.shibata_tats
        - person.shibata_akiko
        - person.shibata_kayano
      for:
        minutes: 10
    - trigger: homeassistant
      event: start
  actions:
    - choose:
        - conditions:
            - or:
                - condition: state
                  entity_id:
                    - device_tracker.ping_atom
                    - device_tracker.ping_ubiqu_personal
                    - device_tracker.ping_kijitora
                  match: any
                  state: "home"
                - condition: state
                  entity_id:
                    - person.shibata_tats
                    - person.shibata_akiko
                    - person.shibata_kayano
                  match: any
                  state: "home"
                  for:
                    minutes: 10
          sequence:
            - action: alarm_control_panel.alarm_arm_home
              target:
                entity_id: alarm_control_panel.home
        - conditions:
            - condition: state
              entity_id:
                - person.shibata_tats
                - person.shibata_akiko
                - person.shibata_kayano
              state: "not_home"
              for:
                minutes: 10
            - not:
                - condition: state
                  entity_id: alarm_control_panel.home
                  state: "armed_vacation"
          sequence:
            - action: alarm_control_panel.alarm_arm_away
              target:
                entity_id: alarm_control_panel.home
- id: automation.toggle_camera_plugs
  alias: "Toggle Camera Plugs"
  triggers:
    - trigger: state
      entity_id: alarm_control_panel.home
    - trigger: homeassistant
      event: start
  actions:
    - variables:
        action: ""
    - choose:
        - conditions:
            - condition: state
              entity_id: alarm_control_panel.home
              state:
                - "armed_away"
                - "armed_vacation"
            - condition: state
              entity_id:
                - switch.living_room_camera_plug
                - switch.dads_room_camera_plug
                - switch.moms_room_camera_plug
              match: any
              state: "off"
          sequence:
            - action: switch.turn_on
              target:
                entity_id:
                  - switch.living_room_camera_plug
                  - switch.dads_room_camera_plug
                  - switch.moms_room_camera_plug
            - variables:
                action: "on"
        - conditions:
            - condition: state
              entity_id: alarm_control_panel.home
              state: "armed_home"
            - condition: state
              entity_id:
                - switch.living_room_camera_plug
                - switch.dads_room_camera_plug
                - switch.moms_room_camera_plug
              match: any
              state: "on"
          sequence:
            - action: switch.turn_off
              target:
                entity_id:
                  - switch.living_room_camera_plug
                  - switch.dads_room_camera_plug
                  - switch.moms_room_camera_plug
            - variables:
                action: "off"
      default:
        - stop: "No action"
    - action: notify.all_devices
      data:
        message: "Turned {{ action }} Surveillance"
        data:
          push:
            interruption-level: time-sensitive
          url: "/lovelace/overview"
- id: automation.toggle_wireguard
  alias: "Toggle WireGuard"
  triggers:
    - trigger: state
      entity_id: device_tracker.ping_atom
      for:
        minutes: 10
    - trigger: homeassistant
      event: start
  actions:
    - choose:
        - conditions:
            - condition: state
              entity_id: device_tracker.ping_atom
              state: "off"
              for:
                minutes: 10
            - condition: state
              entity_id: switch.unifi_network_block_wireguard
              state: "on"
          sequence:
            - action: switch.turn_off
              target:
                entity_id: switch.unifi_network_block_wireguard
        - conditions:
            - condition: state
              entity_id: device_tracker.ping_atom
              state: "on"
              for:
                minutes: 10
            - condition: state
              entity_id: switch.unifi_network_block_wireguard
              state: "off"
          sequence:
            - action: switch.turn_on
              target:
                entity_id: switch.unifi_network_block_wireguard
  trace:
    stored_traces: 100
