- id: automation.select_moms_room_presence_mode
  alias: "Select Mom’s Room Presence Mode"
  triggers:
    - trigger: state
      entity_id: binary_sensor.moms_room_presence
    - trigger: homeassistant
      event: start
  actions:
    - choose:
        - conditions:
            - condition: state
              entity_id: binary_sensor.moms_room_presence
              state: "on"
          sequence:
            - action: input_boolean.turn_on
              target: 
                entity_id: input_boolean.moms_room_presence_mode
        - conditions:
            - condition: state
              entity_id: binary_sensor.moms_room_presence
              state: "off"
          sequence:
            - action: input_boolean.turn_off
              target: 
                entity_id: input_boolean.moms_room_presence_mode
  trace:
    stored_traces: 100
- id: automatic.select_moms_room_window_mode
  alias: "Select Mom’s Room Window Mode"
  triggers:
    - trigger: state
      entity_id:
        - binary_sensor.moms_room_window_n
        - binary_sensor.moms_room_window_s
    - trigger: homeassistant
      event: start
  actions:
    - choose:
        - conditions:
            - condition: state
              entity_id:
                - binary_sensor.moms_room_window_n
                - binary_sensor.moms_room_window_s
              match: any
              state: "on"
          sequence:
            - action: input_boolean.turn_on
              target: 
                entity_id: input_boolean.moms_room_window_mode
        - conditions:
            - condition: state
              entity_id:
                - binary_sensor.moms_room_window_n
                - binary_sensor.moms_room_window_s
              state: "off"
          sequence:
            - action: input_boolean.turn_off
              target: 
                entity_id: input_boolean.moms_room_window_mode
  trace:
    stored_traces: 100
