- id: automation.select_living_room_light_mode
  alias: "Select Living Room Light Mode"
  triggers:
    - trigger: state
      entity_id: input_select.time_mode
    - trigger: state
      entity_id: input_boolean.living_room_presence_mode
      for:
        hours: 1
    - trigger: homeassistant
      event: start
  actions:
    - choose:
        - conditions:
            - condition: state
              entity_id: input_select.time_mode
              state: "Daytime"
          sequence:
            - action: input_select.select_option
              target: 
                entity_id: input_select.living_room_light_mode
              data:
                option: "Daytime"
        - conditions:
            - condition: state
              entity_id: input_select.time_mode
              state: "Twilight"
          sequence:
            - action: input_select.select_option
              target: 
                entity_id: input_select.living_room_light_mode
              data:
                option: "Twilight"
        - conditions:
            - condition: state
              entity_id: input_select.time_mode
              state: "Night"
          sequence:
            - action: input_select.select_option
              target: 
                entity_id: input_select.living_room_light_mode
              data:
                option: "Night"
        - conditions:
            - condition: state
              entity_id: input_select.time_mode
              state: "Late Night"
            - condition: state
              entity_id: light.living_room_shelf_light
              state: "on"
          sequence:
            - action: input_select.select_option
              target: 
                entity_id: input_select.living_room_light_mode
              data:
                option: "Late Night"
        - conditions:
            - condition: state
              entity_id: input_select.time_mode
              state: "Midnight"
            - condition: state
              entity_id: light.living_room_shelf_light
              state: "on"
          sequence:
            - action: input_select.select_option
              target: 
                entity_id: input_select.living_room_light_mode
              data:
                option: "Midnight"
        - conditions:
            - condition: state
              entity_id: input_select.time_mode
              state: "Midnight"
            - condition: state
              entity_id: input_boolean.living_room_presence_mode
              state: "off"
              for:
                hours: 1
            - condition: state
              entity_id: alarm_control_panel.home
              state: "armed_home"
          sequence:
            - action: script.darken_living_room
  trace:
    stored_traces: 100
- id: automation.select_living_room_scene
  alias: "Select Living Room Scene"
  triggers:
    - trigger: state
      entity_id: input_select.living_room_light_mode
    - trigger: homeassistant
      event: start
  actions:
    - choose:
        - conditions:
            - condition: state
              entity_id: input_select.living_room_light_mode
              state: "Daytime"
          sequence:
            - action: input_select.select_option
              target: 
                entity_id: input_select.living_room_scene
              data:
                option: scene.living_room_daytime
        - conditions:
            - condition: state
              entity_id: input_select.living_room_light_mode
              state: "Twilight"
          sequence:
            - action: input_select.select_option
              target: 
                entity_id: input_select.living_room_scene
              data:
                option: scene.living_room_twilight
        - conditions:
            - condition: state
              entity_id: input_select.living_room_light_mode
              state: "Night"
          sequence:
            - action: input_select.select_option
              target: 
                entity_id: input_select.living_room_scene
              data:
                option: scene.living_room_night
        - conditions:
            - condition: state
              entity_id: input_select.living_room_light_mode
              state: "Late Night"
          sequence:
            - action: input_select.select_option
              target: 
                entity_id: input_select.living_room_scene
              data:
                option: scene.living_room_late_night
        - conditions:
            - condition: state
              entity_id: input_select.living_room_light_mode
              state: "Midnight"
          sequence:
            - action: input_select.select_option
              target: 
                entity_id: input_select.living_room_scene
              data:
                option: scene.living_room_midnight
        - conditions:
            - condition: state
              entity_id: input_select.living_room_light_mode
              state: "Dark"
          sequence:
            - action: input_select.select_option
              target: 
                entity_id: input_select.living_room_scene
              data:
                option: scene.living_room_dark
  trace:
    stored_traces: 100
- id: automation.select_living_room_tv_light_scene
  alias: "Select Living Room TV Light Scene"
  triggers:
    - trigger: state
      entity_id: input_select.living_room_regza_content_type_mode
    - trigger: state
      entity_id: select.living_room_tv_light_scene
      for:
        hours: 1
    - trigger: homeassistant
      event: start
  actions:
    - choose:
        - conditions:
            - condition: state
              entity_id: input_select.living_room_regza_content_type_mode
              state:
                - "Internal"
                - "Off"
          sequence:
            - service: select.select_option
              target:
                entity_id: select.living_room_tv_light_scene
              data:
                option: "Scene (Color) - Pure"
        - conditions:
            - condition: state
              entity_id: input_select.living_room_regza_content_type_mode
              state: "External"
          sequence:
            - service: select.select_option
              target:
                entity_id: select.living_room_tv_light_scene
              data:
                option: "leisure"
  trace:
    stored_traces: 100
- id: automation.turn_on_living_room_scene
  alias: "Turn on Living Room Scene"
  triggers:
    - trigger: state
      entity_id: input_select.living_room_scene
    - trigger: homeassistant
      event: start
  actions:
    - action: scene.turn_on
      target: 
        entity_id: "{{ states('input_select.living_room_scene') }}"
  trace:
    stored_traces: 100
- id: automation.turn_on_living_room_tv_light_scene
  alias: "Turn on Living Room TV Light Scene"
  triggers:
    - trigger: state
      entity_id: select.living_room_tv_light_scene
    - trigger: homeassistant
      event: start
  actions:
    - if:
        - not:
            - condition: state
              entity_id: input_select.living_room_regza_content_type_mode
              state: "Off"
      then:
        # The scene is auto-applied when automation.select_living_room_scene is acted
        - action: light.turn_on
          target:
            entity_id: light.living_room_tv_light
      else:
          - action: automation.trigger
            target:
              entity_id: automation.turn_on_living_room_scene
  trace:
    stored_traces: 100
