- id: automation.alarm_moms_room_humidity_difference
  alias: "ALARM: Mom’s Room Humidity Difference"
  triggers:
    - trigger: state
      entity_id: sensor.moms_room_switchbot_meter_humidity
  conditions:
    - condition: numeric_state
      entity_id:
        - sensor.moms_room_humidity_difference
        - sensor.moms_room_humidity_difference_average
      above: 5
  actions:
    - action: automation.turn_off
      target:
        entity_id:
          - automation.adjust_living_room_ac_temperature
          - automation.change_living_room_ac_mode
          - automation.toggle_living_room_ac_cool
          - automation.toggle_living_room_ac_dry
    - action: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: >-
          Mom’s Room Humidity Difference is Too Large.
          Current: {{ states('sensor.moms_room_humidity') }}% /
          {{ states('sensor.moms_room_switchbot_meter_humidity') }}%
        data:
          push:
            interruption-level: time-sensitive
          url: "/lovelace/overview"
    - delay:
        hours: 8
  trace:
    stored_traces: 100
- id: automation.alarm_moms_room_temp_difference
  alias: "ALARM: Mom’s Room Temperature Difference"
  triggers:
    - trigger: state
      entity_id: sensor.moms_room_switchbot_meter_temperature
  conditions:
    - condition: numeric_state
      entity_id:
        - sensor.moms_room_temp_difference
        - sensor.moms_room_temp_difference_average
      above: 0.5
  actions:
    - action: automation.turn_off
      target:
        entity_id:
          - automation.adjust_living_room_ac_temperature
          - automation.change_living_room_ac_mode
          - automation.toggle_living_room_ac_cool
          - automation.toggle_living_room_ac_dry
    - action: notify.tats_devices
      data:
        title: "⚠️ ALARM"
        message: >-
          Mom’s Room Temperature Difference is Too Large.
          Current: {{ states('sensor.moms_room_temperature') }}°C /
          {{ states('sensor.moms_room_switchbot_meter_temperature') }}°C
        data:
          push:
            interruption-level: time-sensitive
          url: "/lovelace/overview"
    - delay:
        hours: 8
  trace:
    stored_traces: 100
- id: automation.select_moms_room_presence_mode
  alias: "Select Mom’s Room Presence Mode"
  triggers:
    - trigger: state
      entity_id: sensor.moms_room_motion_count
    - trigger: state
      entity_id: binary_sensor.moms_room_presence
      for:
        minutes: 1
    - trigger: homeassistant
      event: start
  actions:
    - choose:
        - conditions:
            - or:
                - condition: numeric_state
                  entity_id: sensor.moms_room_motion_count
                  above: 5
                - condition: state
                  entity_id: binary_sensor.moms_room_presence
                  state: "on"
                  for:
                    minutes: 1
          sequence:
            - action: input_boolean.turn_on
              target: 
                entity_id: input_boolean.moms_room_presence_mode
        - conditions:
            - condition: numeric_state
              entity_id: sensor.moms_room_motion_count
              below: 6
            - condition: state
              entity_id: binary_sensor.moms_room_presence
              state: "off"
              for:
                minutes: 1
          sequence:
            - action: input_boolean.turn_off
              target: 
                entity_id: input_boolean.moms_room_presence_mode
  trace:
    stored_traces: 100
- id: automatic.select_moms_room_window_mode
  alias: "Select Mom’s Room Window Mode"
  triggers:
    - trigger: state
      entity_id:
        - binary_sensor.moms_room_window_n
        - binary_sensor.moms_room_window_s
    - trigger: homeassistant
      event: start
  actions:
    - choose:
        - conditions:
            - condition: state
              entity_id:
                - binary_sensor.moms_room_window_n
                - binary_sensor.moms_room_window_s
              match: any
              state: "on"
          sequence:
            - action: input_boolean.turn_on
              target: 
                entity_id: input_boolean.moms_room_window_mode
        - conditions:
            - condition: state
              entity_id:
                - binary_sensor.moms_room_window_n
                - binary_sensor.moms_room_window_s
              state: "off"
          sequence:
            - action: input_boolean.turn_off
              target: 
                entity_id: input_boolean.moms_room_window_mode
  trace:
    stored_traces: 100
